{% if files | length > 0 %}
<div class="row files">  
  <div class="col-md-12">
    <h3>
      <span aria-hidden="true" class="glyphicon glyphicon-file"></span>Archivos media encontrados en <small>{{ dir }}</small>      
    </h3>   
  </div>
  
    
    <div class="col-md-4">
      <ul style="margin-left:-40px;" class="files-found"> 
        {% for file in files %}          
            {% if file.registered is defined and file.registered == false %}                     
              <li class="list-group-item">
                <input type="checkbox" name="file">
                {{ file.nombre }}                
                <input type="hidden" value="{{ file.path }}">
              </li>
            {% endif %}              
          
        {% endfor %}  

        <li class="list-group-item playlist-info files-analized-options"> 
          <input type="checkbox" name="select_all">
          <button title="Analizar los archivos seleccionados" class="analizar" style="color: #222;">
            <i class="fa fa-exchange"></i>Analizar
          </button>      
        </li> 
      </ul>
    </div>
  

  
    <div class="col-md-4">
      <ul style="margin-left:-40px;" class="files-found"> 
        {% for file in files %}
        {% if loop.index > 10  and loop.index < 20 %}                              
        {% if file.registered is defined and file.registered == false %}                 
        <li class="list-group-item">
          <input type="checkbox" name="file">
          {{ file.nombre }}
          
          <input type="hidden" value="{{ file.path }}">
        </li>
        {% endif %}          
        {% endif %}  
        {% endfor %}  
      </ul>
    </div>  
  
    <div class="col-md-4">
      <ul style="margin-left:-40px;" class="files-found"> 
        {% for file in files %}
          {% if loop.index > 20 %}   
            {% if file.registered is defined and file.registered == false %}                   
            <li class="list-group-item">
              <input type="checkbox" name="file">
              {{ file.nombre }}
              
              <input type="hidden" value="{{ file.path }}">
            </li>
            {% endif %}      
          {% endif %}  
        {% endfor %}        
      </ul>
    </div> 
  
</div>
{% else %}
<div class="row files">
  <div class="col-md-12">
    <div class="alert alert-danger alert-dismissable">
      <i class="fa fa-info"></i>
          <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
      <b>Alert!</b> No existen archivos
    </div>
  </div>
</div>

{% endif %}
