
<div class="row files_found_{{ files | length }}">
  <div class="col-md-12">
    <h3>
      <span aria-hidden="true" class="glyphicon glyphicon-file"></span>Archivos media encontrados en <small>{{ dir }}</small>
      
    </h3>
    <div class="col-md-6">
      <ul style="margin-left:-40px;" class="files10"> 
      {% for file in files %}        
        {% if loop.index <= 10 %}                    
          {% if file.registered is defined and file.registered == true %}         
            <li class="list-group-item list-group-item-success">          
            {{ file.nombre }}
              <a href="#"><span aria-hidden="true" class="glyphicon glyphicon-play-circle"></span></a> 
            </li>            
      {% else %}  
            <li class="list-group-item">
              <input type="checkbox" name="file">
              {{ file.nombre }}
              <a href="#"><span aria-hidden="true" class="glyphicon glyphicon-play-circle"></span></a> 
              <input type="hidden" value="{{ file.path }}">
            </li>
      {% endif %}
        {% endif %}  
      {% endfor %} 

        <li class="list-group-item list-group-item-info"> 
          <input type="checkbox" name="select_all">
          <a href="#" title="Analizar los archivos seleccionados"><span aria-hidden="true" class="glyphicon glyphicon-transfer analizar"></span></a>      
        </li> 
      </ul>
    </div>

    <div class="col-md-6">
      <ul style="margin-left:-40px;" class="files20"> 
      {% for file in files %}
        {% if loop.index >= 10 %}                    
        {% if file.registered is defined and file.registered == true %}         
            <li class="list-group-item list-group-item-success">          
            {{ file.nombre }}
              <a href="#"><span aria-hidden="true" class="glyphicon glyphicon-play-circle"></span></a> 
            </li>            
      {% else %}  
            <li class="list-group-item">
              <input type="checkbox" name="file">
              {{ file.nombre }}
              <a href="#"><span aria-hidden="true" class="glyphicon glyphicon-play-circle"></span></a> 
              <input type="hidden" value="{{ file.path }}">
            </li>
      {% endif %}
        {% endif %}  
      {% endfor %}  
      
      </ul>
    </div>  
  </div>  
</div>

<div class="row player">
  <h3><span aria-hidden="true" class="glyphicon glyphicon-eye-open"></span>Previsualizar</h3>
  <div class="col-md-12">
    <embed type="application/x-vlc-plugin" name="videotest"  pluginspage="http://www.videolan.org" version="VideoLAN.VLCPlugin.2" width="100%;" height="450px;" id="vlc" toolbar="true" />
  </div>
</div>

<script type="text/javascript">  
  $( function (){        
    $('.player').hide();    
  });
 
</script>
