{% if files | length > 0 %}
  <div class="row files">
    <h3>
          <span aria-hidden="true" class="glyphicon glyphicon-file">            
          </span>Archivos media encontrados en 
          <small>{{ dir }}</small>
          
    </h3>
    <div class="col-md-4 files_found_{{ files | length }}">
        
        <ul style="margin-left:-40px;" class="files-found"> 
        {% for file in files %}   
          {{dump(file)}}      
          {% if file.registered == true %}         
                <li class="list-group-item list-group-item-success">          
                  {{ file.nombre }}                  
                </li>            
          {% else %}  
                <li class="list-group-item">
                  <input type="checkbox" name="file">
                  {{ file.nombre }}                  
                  <input type="hidden" value="{{ file.path }}">
                </li>
          {% endif %}   
        {% endfor %}  
        
        <li class="list-group-item list-group-item-info"> 
              <input type="checkbox" name="select_all">
              <a href="#" title="Analizar los archivos seleccionados"><span aria-hidden="true" class="glyphicon glyphicon-transfer analizar"></span></a>      
            </li>         
        </ul>  
        
    </div>  
    
  </div>
{% else %}
<div class="row files">
  <div class="col-md-10">
    <div class="alert alert-danger alert-dismissable">
      <i class="fa fa-info"></i>
          <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
      <b>Alert!</b> No existen archivos
    </div>
  </div>
</div>

{% endif %}   