
<div class="row files_found_{{ files | length }}">
  <div class="col-md-12">
    <h3>
      <span aria-hidden="true" class="glyphicon glyphicon-file"></span>Archivos media encontrados en <small>{{ dir }}</small>      
    </h3>

    <div class="col-md-3">
      <ul style="margin-left:-40px;" class="files10"> 
      {% for file in files %}        
        {% if loop.index < 10 %}                    
          {% if file.pat is defined %}
         {% if file.pat.0.nombreArchivo == file.nombre %} 
            <li class="list-group-item list-group-item-success">          
            {{ file.nombre }}
              <a href="#"><span aria-hidden="true" class="glyphicon glyphicon-play-circle"></span></a> 
            </li>   
         {% endif %}
      {% else %}  
            <li class="list-group-item">
              <input type="checkbox" name="file">
              {{ file.nombre }}
              <a href="#"><span aria-hidden="true" class="glyphicon glyphicon-play-circle"></span></a> 
              <input type="hidden" value="{{ file.path }}">
            </li>
      {% endif %}  
        {% endif %}  
      {% endfor %}  

      <li class="list-group-item list-group-item-info"> 
          <input type="checkbox" name="select_all">
          <a href="#" title="Analizar los archivos seleccionados"><span aria-hidden="true" class="glyphicon glyphicon-transfer analizar"></span></a>      
      </li> 
      </ul>
    </div>

    <div class="col-md-3">
      <ul style="margin-left:-40px;" class="files20"> 
      {% for file in files %}
        {% if loop.index > 10  and loop.index < 20 %}                    
          {% if file.pat is defined %}
         {% if file.pat.0.nombreArchivo == file.nombre %} 
            <li class="list-group-item list-group-item-success">          
            {{ file.nombre }}
              <a href="#"><span aria-hidden="true" class="glyphicon glyphicon-play-circle"></span></a> 
            </li>   
         {% endif %}
      {% else %}  
            <li class="list-group-item">
              <input type="checkbox" name="file">
              {{ file.nombre }}
              <a href="#"><span aria-hidden="true" class="glyphicon glyphicon-play-circle"></span></a> 
              <input type="hidden" value="{{ file.path }}">
            </li>
      {% endif %}  
        {% endif %}  
      {% endfor %}  
      </ul>
    </div>  

    <div class="col-md-3">
      <ul style="margin-left:-40px;" class="files30"> 
      {% for file in files %}
        {% if loop.index > 20 and loop.index < 30  %}                    
        {% if file.pat is defined %}
         {% if file.pat.0.nombreArchivo == file.nombre %} 
            <li class="list-group-item list-group-item-success">          
            {{ file.nombre }}
              <a href="#"><span aria-hidden="true" class="glyphicon glyphicon-play-circle"></span></a> 
            </li>   
         {% endif %}
      {% else %}  
            <li class="list-group-item">
              <input type="checkbox" name="file">
              {{ file.nombre }}
              <a href="#"><span aria-hidden="true" class="glyphicon glyphicon-play-circle"></span></a> 
              <input type="hidden" value="{{ file.path }}">
            </li>
      {% endif %}  
        {% endif %}  
      {% endfor %}

        
      </ul>
    </div>  

    <div class="col-md-3">
      <ul style="margin-left:-40px;" class="files30"> 
      {% for file in files %}
        {% if loop.index > 30 and loop.index < 40 %}                    
          {% if file.pat is defined %}
         {% if file.pat.0.nombreArchivo == file.nombre %} 
            <li class="list-group-item list-group-item-success">          
            {{ file.nombre }}
              <a href="#"><span aria-hidden="true" class="glyphicon glyphicon-play-circle"></span></a> 
            </li>   
         {% endif %}
      {% else %}  
            <li class="list-group-item">
              <input type="checkbox" name="file">
              {{ file.nombre }}
              <a href="#"><span aria-hidden="true" class="glyphicon glyphicon-play-circle"></span></a> 
              <input type="hidden" value="{{ file.path }}">
            </li>
      {% endif %}  
        {% endif %}  
      {% endfor %}  
      </ul>
    </div>  

  </div>  
</div>

<div class="row files_found_{{ files | length }}">
  <div class="col-md-3">
      <ul style="margin-left:-40px;" class="files30"> 
      {% for file in files %}
        {% if loop.index > 40 and loop.index < 60 %}                    
          {% if file.pat is defined %}
         {% if file.pat.0.nombreArchivo == file.nombre %} 
            <li class="list-group-item list-group-item-success">          
            {{ file.nombre }}
              <a href="#"><span aria-hidden="true" class="glyphicon glyphicon-play-circle"></span></a> 
            </li>   
         {% endif %}
      {% else %}  
            <li class="list-group-item">
              <input type="checkbox" name="file">
              {{ file.nombre }}
              <a href="#"><span aria-hidden="true" class="glyphicon glyphicon-play-circle"></span></a> 
              <input type="hidden" value="{{ file.path }}">
            </li>
      {% endif %}  
        {% endif %}  
      {% endfor %}  
      </ul>
  </div>
</div>   



