<div class="row">  
  <div class="col-md-8">  
    <p> <a href="#">Elegir la carpeta destino</a></p>
  </div>
</div>

<div class="row directorios-target">
    <div class="col-md-3">
      <select name="target" multiple="multiple" style="height: 200px;text-align:left;" class="form-control">  
        {% for dir in folders %}
        <option value="{{ dir.path }}" class="glyphicon glyphicon-folder-close">{{ dir.nombre }}</option>
        {% endfor %}
      </select>

        {% for dir in folders %}       
          {% if dir.artista is defined %}
            <input type="hidden" value="{{ dir.artista.id }}" name="artista_target">
          {% endif %}  


          {% if dir.fuente is defined %}
            <input type="hidden" value="{{ dir.fuente.id }}" name="fuente_target">
          {% endif %}  


          {% if dir.genero is defined %}
            <input type="hidden" value="{{ dir.genero.id }}" name="genero_target">
          {% endif %}  
        {% endfor %}
  
    </div>    
</div>









