

<h2>Resultados </h2>

{% if datos | length > 0 %}



<div class="tracksByArtist">
	<h3>ROCK</h3>
	
	<ul class="list-group" style="margin: 10px 0;   cursor: pointer;">
		{% for track in datos %}	
					
			<li class="list-group-item"> 
			<input type="checkbox" value="{{ track.id }}" id="track" name="track">
			<input type="hidden" value="{{ track.path }}" id="path" name="path">

			{{ track.nombre }} - {{ track.titulo }} 
			
			{% if track.formato == "vob" or track.formato == "VOB "%} 
				<span class="glyphicon glyphicon-hd-video"></span>
			{% else %} 
				<span class="glyphicon glyphicon-sd-video"></span>
			{% endif %} 	
			<i class="glyphicon glyphicon-play-circle" title="Reproducir"></i>
			<i class="glyphicon glyphicon-plus-sign"></i>
			<i class="glyphicon glyphicon-th-list listas" title="Agregar a Lista" data-target="#playListAll"></i>
			
			<i class="glyphicon glyphicon-download" title="Copiar a USB"></i>
			
			</li>
			
		{% endfor %}
		<li class="list-group-item">
			<i class="glyphicon glyphicon-play-circle playAll" title="Reproducir Todos"></i>
			<i class="glyphicon glyphicon-th-list"></i>
			<i class="glyphicon glyphicon-random" title="Reproducir Aleatorio"></i>

			<a href="#"><i class="glyphicon glyphicon-download" title="Crear Lista"></i></a>			
			<i class="glyphicon glyphicon-stop"></i>
			<i class="glyphicon glyphicon-fast-forward"></i>

		</li>
	</ul>

	
</div>



<div class='playlistNow'>
	<h2>Nueva Playlist</h2>
	<form class="form-inline" id="playlist" method="get">
		<ul class='list-group' style='background-color:red;'>	
						
		</ul>
		<div class="form-group">
			<input type='text' name='listnew' id='listnew' placeholder='Nombre'>
			<button type="button" name="save_playlist" id="save_playlist"><i class="glyphicon glyphicon-floppy-disk"></i></button>
		</div>
	</form>
</div>


{% else %}
	<div class="alert alert-info alert-dismissable">
        <i class="fa fa-info"></i>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <b>Alert!</b> No hay resultados
    </div>
{% endif %}





{% spaceless %}
    

    <script type="text/javascript">
        
	$( function () {
		$('.playlistNow').hide();
		$('input[type="checkbox"]').hide();
    	$('.list-group-item').each(function () {
	        // store data so the calendar knows to render an event upon drop
	        $(this).data('event', {
	            
	            title: $.trim($(this).text()), // use the element's text as the event title
	            stick: true // maintain when user navigates (see docs on the renderEvent method)
	        });


	        $(this).draggable({
	            zIndex: 999,
	            revert: true, // will cause the event to go back to its
	            revertDuration: 0  //  original position after the drag	            
	        });

	        $(this).data("soltado", false);
	        	      

    	});

    	
    	
		$("a .glyphicon-download").click(function( event ) {   
			event.preventDefault();
			
        	$('.playlistNow').show();
        	$('input[type="checkbox"]').show();			                 	            

			$(".playlistNow").droppable({
	        	
			   drop: function( event, ui ) { 
			   	
			      if (!ui.draggable.data("soltado")){ 
			         ui.draggable.data("soltado", true); 
			         $( this ).addClass( "ui-state-highlight" );

			      } 
			   }, 
			   out: function( event, ui ) { 
			      if (ui.draggable.data("soltado")){ 
			         ui.draggable.data("soltado", false); 
			         var elem = $(this); 
			         elem.data("numsoltar", elem.data("numsoltar") - 1); 
			         elem.html("Llevo " + elem.data("numsoltar") + " elementos soltados"); 
			      } 
			   } 
			});

	    });

	    $('input[type="checkbox"]').change(function () {
            if( $(this).is(":checked") ) {            	
            	
            	var track = $(this).parent();
            	$(".playlistNow ul").append(track);
            	track.append('<i class="glyphicon glyphicon-ok"></i>');
            	$(".playlistNow .form-group").append("<p>Agregado</p>");
            	$(".playlistNow .form-group i").removeClass("glyphicon glyphicon-floppy-disk");
            	$(".playlistNow .form-group i").addClass("glyphicon glyphicon-floppy-remove");
            	

        	}
        });


    
    
        $( "#save_playlist" ).click(function( event ) {   

            var data = JSON.stringify($('#playlist').serializeArray());
            event.preventDefault();
            	$.ajax({
	                method: 'GET',
	                url: '{{ path("save_playlist")}}',
	                dataType : 'html',
	                data: 'data='+data,
	                success : function( response ) {
	                	
	                	var json = JSON.parse(response);		                			                
	 	                 if ( json.status == "OK") {
	 	                 	alert("Lista creada correctamente");
	 	                 }
	                }
                
                });
        });

        $( ".glyphicon-play-circle" ).click(function( event ) {  

         	var vlc =  document.getElementById('vlc');

         	vlc.playlist.clear();

         	var trackPath = $(this).parent().find('input[type="hidden"]').val();	
         	         	
         	var file = "file://"+trackPath;
         	vlc.playlist.add(file);
         	vlc.playlist.play();
            
         });


        $( ".playAll" ).click(function( event ) {  
        	var vlc =  document.getElementById('vlc');

        	var datos = $('.tracksByArtist ul.list-group');
        	
        	$.each( datos.find('input[type="hidden"]'), function( key, value ) {
  				
  				var path = $(value).val();
  				var file = "file://"+path;
  				vlc.playlist.add(file);

			});

        	vlc.playlist.play();
        	
         });


        
         $('.listas').click(function ( event ){
         	event.preventDefault();
         	
         	$.ajax({
				url: '{{ path('ajax_get_playlist')}}',
				dataType: 'html',
				method: 'GET',				
					success: function (response) {		

						$('#contenedor').append(response);
						$('#playlists').modal({
							show: true,				
						});
					}
				});     
         	
         });


         $( ".glyphicon-random" ).click(function( event ) {  
        	var vlc =  document.getElementById('vlc');

        	var datos = $('.tracksByArtist ul.list-group');
        	
        	var tracks = new Array();

        	$.each( datos.find('input[type="hidden"]'), function( key, value ) {
  				
  				var path = $(value).val();

  				tracks.push(path);  				

			});

        	
        	var aleatorio = $.randomize(tracks);

        	$.each(aleatorio, function(key, value) {
      			var file = "file://"+value;
      			vlc.playlist.add(file);

			});
        	
        	console.log(vlc.playlist);		 				  			  				
  					
        	vlc.playlist.play();

        	console.log(vlc.playlist.isPlaying);
        	
         });

         $.randomize = function(arr) {  
    		for(var j, x, i = arr.length; i; j = parseInt(Math.random() * i), x = arr[--i], arr[i] = arr[j], arr[j] = x);
    		return arr;   
  		 };
		
              

         $( ".glyphicon-stop" ).click(function( event ) {  
         	
        	var vlc =  document.getElementById('vlc');       
        	
        	vlc.playlist.stop();
        	
         });


         $( ".glyphicon-fast-forward" ).click(function( event ) {  
         	
        	var vlc =  document.getElementById('vlc');   
        	console.log(vlc.playlist.items.count);    
        	
        	vlc.playlist.next();
        	
         });      
	});

    </script> 
         

{% endspaceless %}






