{% if subDirs | length %}  
<div class="col-md-3">  
  <p>
  <select name="{{ place }}" multiple="multiple" style="height: 200px; width: 100%;">  
    {% for dir in subDirs %}
    <option value="{{ dir.path }}" class="glyphicon glyphicon-folder-close">{{ dir.nombre }}</option>
    {% endfor %}
  </select>
  {% if sources.artista is defined %}
    <input type="hidden" value="{{ sources.artista.id }}" name="artista">
  {% endif %}  


  {% if sources.fuente is defined %}
    <input type="hidden" value="{{ sources.fuente.id }}" name="fuente">
  {% endif %}  


  {% if sources.genero is defined %}
    <input type="hidden" value="{{ sources.genero.id }}" name="genero">
  {% endif %}  
  </p>
</div>
{% endif %}   






