{% if subDirs | length %}  
<div class="col-md-2">

  <p>
    <a href="#">
      <i class="fa fa-arrow-left back"></i>
    </a>
    <a href="#">
      <i class="fa fa-plus add_folder pull-right"></i>
    </a>                               
  </p>

  <p class="new">
    <form class="form-inline">
      <label for="new_folder">Crear</label>
      <input type="text" class="form-control" name="new_folder">
      <a href="#">Guardar</a>
      <a href="#">Quitar</a>
    </form> 
  </p>

  <p>
  <select name="{{ dir | slice(0, 5) }}" multiple="multiple" style="height: 200px; width: 100%;">  
    {% for dir in subDirs %}
    <option value="{{ dir.path }}">{{ dir.nombre }}</option>
    {% endfor %}
  </select>
  {% if sources.artista is defined %}
    <input type="hidden" value="{{ sources.artista.id }}" name="artista">
  {% endif %}  


  {% if sources.fuente is defined %}
    <input type="hidden" value="{{ sources.fuente.id }}" name="fuente">
  {% endif %}  


  {% if sources.genero is defined %}
    <input type="hidden" value="{{ sources.genero.id }}" name="genero">
  {% endif %}  
  </p>
</div>
{% endif %}   


{% if files | length > 0 %}
{{files|length}}
  <div class="row files">
  {% if files | length <= 10 %}
     {% include 'AppBundle:Track:_files10.html.twig' 
              with {'files': files } 
      %}

  {% elseif files | length <= 20  %} 
     {% include 'AppBundle:Track:_files20.html.twig' 
              with {'files': files } 
      %}

  {% elseif files | length <= 30  %} 
     {% include 'AppBundle:Track:_files30.html.twig' 
              with {'files': files } 
      %}

  {% elseif files | length <= 40  %} 
     {% include 'AppBundle:Track:_files40.html.twig' 
              with {'files': files } 
      %}             

  {% endif %}   
  </div>

{% else %}    
  <div class="row player">
    <div class="col-md-8">
     <p>No contiene</p>    
   </div>
  </div>
{% endif %}   


<style type="text/css">
  i.fa-plus{
    cursor: pointer;
  }
</style>


<script type="text/javascript">
  $( function (){            
    $('p.new').hide();
  });





$( document ).on('click', 'a.quitar', function ( event ){
  

});



</script>

<script type="text/javascript">
  Routes.setGif("{{ asset('progress-bar.gif')}}");                
  Routes.setInfoDirRoot("{{ path('get_info_dir_root') }}");                              
</script>    


<script id="template-barra" type="text/x-handlebars-template">  
<div class="row processing-bar">   
  <div class="col-md-3 col-md-offset-5">
    {% raw %} 
    <p>Procesando<img src="{{img}}"></p>
    {% endraw %}        
  </div>
</div>  
</script>

