{% if level == "root" %}
  <div class="row folders">  
    
        <h3>
        <span aria-hidden="true" class="glyphicon glyphicon-folder-open"></span>{{ dir }} 
        </h3>
                  
        <div class="col-md-2 container_new_folder">          
          <p class="new">
            <label for="new_folder">Crear una nueva carpeta</label>
            <input type="text" class="form-control" name="new_folder">
            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
          </p>    
        </div>
        
        <div class="col-md-2">
          <p>
              
              <a href="#">
                  <i class="fa fa-plus add-folder pull-right"></i>
              </a>                             
          </p>

          <select name="{{ level }}" multiple="multiple" style="height: 200px;">  
          {% for dir in subDirs %}
                <option value="{{ dir.path }}">{{ dir.nombre }}</option>
          {% endfor %}
          </select>    

          {% if sources.artista is defined %}
            <input type="hidden" value="{{ sources.artista.id }}" name="artista">
          {% endif %}  


          {% if sources.fuente is defined %}
            <input type="hidden" value="{{ sources.fuente.id }}" name="fuente">
          {% endif %}  


          {% if sources.genero is defined %}
            <input type="hidden" value="{{ sources.genero.id }}" name="genero">
          {% endif %} 
        </div>
    
  </div>          

    
{% else %}   

      <select name="{{ level }}" multiple="multiple" style="height: 200px;">  
          {% for dir in subDiros %}
                <option value="{{ dir.path }}">{{ dir.nombre }}</option>
          {% endfor %}
      </select>


{% endif %}  


<script type="text/javascript">
$( function (){
  $('p.new').hide();
  $('.container_new_folder').hide();
});
</script>

<script type="text/javascript">
  Routes.setGif("{{ asset('progress-bar.gif')}}");                
  Routes.setInfoDirRoot("{{ path('get_info_dir_root') }}");                              
</script>    






