{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent()}}    
    <link href='http://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>
    <link href="{{asset('bundles/app/js/plugins/asmSelect/css/jquery.asmselect.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/app/js/plugins/jquery-mt-select/css/style.css')}}" rel="stylesheet" type="text/css" />


{% endblock stylesheets %} 

{% block content -%}
    <div class="row">
        {{ form_errors(form)}}
    </div>

    <form class="form-horizontal form-column" id="track-form" action="{{ path('track_update', { id: entity.id })}}" method="post" {{ form_enctype(form) }}>   
        <div class="row">         
            {{ form_errors(form)}}
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Basic Tabs
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#home" data-toggle="tab" aria-expanded="true">Track</a>
                            </li>
                            <li class=""><a href="#profile" data-toggle="tab" aria-expanded="false">Tracklist</a>
                            </li>
                            <li class=""><a href="#messages" data-toggle="tab" aria-expanded="false">Preview</a>
                            </li>
                            <li class=""><a href="#settings" data-toggle="tab" aria-expanded="false">DVD</a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="track">
                                <h4>Track</h4>
                                <div class="col-lg-3 col-xs-6">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <span class="glyphicon glyphicon-play-circle"></span>
                                            Track
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-lg-12">                            
                                                    {{ form_row(form.titulo) }}                                                                  
                                                    {{ form_row(form.nombreArchivo) }}                                                                  
                                                    {{ form_row(form.artista) }}                                                                  
                                                    {{ form_row(form.path) }}                                                                  
                                                    {{ form_row(form.formato) }}                                                                  
                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane fade" id="tracklist">
                                <h4>Tracklist</h4>
                                <div class="col-lg-3 col-xs-6">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <span class="glyphicon glyphicon-list"></span>
                                            TrackList
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-lg-12">                            
                                                    {{ form_row(form.tracklists) }}                                                                 

                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                </div>                

                            </div>
                            <div class="tab-pane fade" id="preview">
                                <h4>Preview</h4>
                                {% if entity is defined %}                     
                                    <div class="col-lg-3 col-xs-3">

                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <span class="glyphicon glyphicon-eye-open"></span>
                                                Preview
                                            </div>
                                            <div class="panel-body">
                                                <div class="row">                                                        
                                                    <embed type="application/x-vlc-plugin" name="videotest"  pluginspage="http://www.videolan.org" version="VideoLAN.VLCPlugin.2" autostart="false" width="100%" height="450px;" id="vlc" toolbar="true" windowless="true" bgcolor="blue" tiltle="Cerati" target="{{ entity.path}}"/>                                                                                                                         
                                                </div>

                                            </div>

                                        </div>

                                    </div>                                        
                                {% endif %}       

                            </div>
                            <div class="tab-pane fade" id="dvd">
                                <h4>DVD</h4>
                                <div class="col-lg-3 col-xs-6">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <span class="glyphicon glyphicon-list"></span>
                                            DVD
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">                                                       
                                                <div class="col-lg-6">    
                                                    <img id="preview" 
                                                         {% if entity.portada is not null %} 
                                                             src="{{ asset('portada') ~'/'~ entity.portada }}"
                                                         {% endif %}
                                                         width="350" height="250" />                        
                                                    <input type="hidden" id="x" name="x" />
                                                    <input type="hidden" id="y" name="y" />            
                                                    <input type="hidden" id="w" name="w" />
                                                    <input type="hidden" id="h" name="h" />  
                                                    <div class="form-group foto" id="foto">
                                                        <label for="{{ form.file.vars.id}}">{{ form.file.vars.label }}</label>
                                                        {{ form_widget(form.file)}}
                                                    </div>                           
                                                </div>



                                            </div>
                                            <div class="row">      
                                                <div class="col-lg-6">    
                                                    {{ form_row(form.dvdOriginal) }}   
                                                    {{ form_row(form.duracion) }}   
                                                </div>    
                                            </div>

                                        </div>             

                                    </div>
                                </div> 

                            </div>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>


            <div class="col-md-12">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Guardar</button>                                                
                </div>


            </div>                 

    </form>

{% endblock %}


{% block javascripts %}
    {% spaceless %}

        {{ parent() }}      
        <script src='{{asset('bundles/app/js/plugins/jquery-browser/jquery.browser.min.js')}}' type="text/javascript"></script>            
        <script src='{{asset('bundles/app/js/plugins/asmSelect/js/jquery.asmselect.js')}}' type="text/javascript"></script>


        <script type="text/javascript">
            $(document).ready(function () {
                $("select[multiple]").asmSelect({
                    addItemTarget: 'bottom',
                    animate: true,
                    highlight: true,
                    sortable: true
                });

            });

        </script> 

    {% endspaceless %}
{% endblock %}                