<div class="row files-analized">  
  <div class="col-md-12">       
  	<h3>
      <span aria-hidden="true" class="glyphicon glyphicon-file"></span> Archivos analizados      
    </h3>
  </div>
  
  <div class="col-md-12">  
  	<ul class="analized list-inline" style="list-style:none;">
  		{% for thumb in thumbs %}
  		<li class="list-group-item">          
        <input type="checkbox" name="file_analized">
        <p> {{ thumb.image }} </p>     
        <img src="{{ asset('track') ~'/tmp/'~thumb.image_thumb~'.jpg' }}" width="100" height="80" class="img-thumbnail" />        
        <p> 
          <i class="fa fa-clock-o"></i>{{ thumb.total_seconds }} 
        </p> 
        
        {% if thumb.resolution.width > 700 and thumb.resolution.height > 500 %}           
          <span class="glyphicon glyphicon-sound-5-1" aria-hidden="true"></span>
          <span aria-hidden="true" class="glyphicon glyphicon-hd-video"></span>                                
          <input type="hidden" value="{{ thumb.resolution.width }}" name="resolution_width">
          <input type="hidden" value="{{ thumb.resolution.height }}" name="resolution_height">
          <input type="hidden" value="{{ thumb.path }}" name="path">
          <input type="hidden" value="{{ thumb.size }}" name="size">
          
        {% else %}
          <span aria-hidden="true" class="glyphicon glyphicon-sound-stereo"></span>
          <span aria-hidden="true" class="glyphicon glyphicon-sd-video"></span>                                          
          <input type="hidden" value="{{ thumb.resolution.width }}" name="resolution_width">
          <input type="hidden" value="{{ thumb.resolution.height }}" name="resolution_height">
          <input type="hidden" value="{{ thumb.path }}" name="path">
          <input type="hidden" value="{{ thumb.size }}" name="size">

        {% endif %}

        <p> <strong>{{ thumb.size }} </strong></p> 
        <input type="hidden" value="{{ thumb.total_seconds }}" name="duration">
        <input type="hidden" value="{{ thumb.image_thumb }}" name="filename">
        <a href=""><i class="fa fa-remove"></i></a>
      </li>    

  		{% endfor %}

      <!--<li class="list-group-item list-group-item-info">
        <input type="checkbox" name="select_analized">  
        <a href="#" title="importar a biblioteca"><span aria-hidden="true" class="glyphicon glyphicon-save importar-archivos"></span></a> 
      </li>-->
  	</ul>	

  </div>
</div>


