{% extends 'AppBundle:Home:layout.html.twig' %}

{% block stylesheets %}
{{ parent() }}  

<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>

<style type="text/css">
  .form-inline input[type="text"] {
    width: 86%;
  }


  .files-analized li p{
    font-family: 'Roboto Condensed', sans-serif;
  }

  .files li {
    font-family: 'Roboto Condensed', sans-serif;
  }
</style>


{% endblock %}


{% block main %}     

<div class="row import">                 

    <div class="col-md-8">
      <h1 class="page-header">
        <span aria-hidden="true" class="glyphicon glyphicon-film"></span>
        Importar a biblioteca                  
      </h1>  

      <input type="text" class="form-control" id="root" placeholder="/home/gabriel/Documentos">
      <input type="hidden" name="level" value="root">

      <!--<button type="button" class="btn btn-primary search_root"><i class="fa fa-search"></i></button>-->
      <a href="#" class="btn btn-primary search_root"><i class="fa fa-search"></i></a>
      <button type="button" class="btn btn-default reset">Reiniciar</button>
    </div>  
 

</div>



{% endblock main %}




{# javascripts... #}
{% block javascripts %}

{{ parent() }}   

<script type="text/javascript" src="{{ asset('bundles/app/js/sfbimg.js')}} "></script>

<script type="text/javascript" src="{{ asset('bundles/app/js/import-library.js') }}"></script>


<script type="text/javascript">
  Routes.setGif("{{ asset('progress-bar.gif')}}");                
  Routes.setInfoDirRoot("{{ path('get_info_dir_root') }}");   
  Routes.setThumb("{{ path('analize_files') }}");
  Routes.setImportFiles("{{ path('import_files_analized') }}");                           
</script>    

{% endblock %}
