{% extends '::base.html.twig' %}

 {% block stylesheets %}
     {{ parent() }}
     
     <style>.functions .demo {
  margin-bottom: 10px;
}

.functions .item {
  background-color: #FEFEFE;
  border-radius: 4px;
  display: inline-block;
  margin-bottom: 5px;
  padding: 5px 10px;
}

.functions .item a {
  border: 1px solid #CCC;
  margin-left: 10px;
  padding: 5px;
  text-decoration: none;
}

.functions .item input {
  display: inline-block;
  margin-left: 2px;
  padding: 5px 6px;
  width: 120px;
}

.functions .item label {
  display: inline-block;
  font-size: 1.1em;
  font-weight: bold;
}

.hint {
  text-align: center;
  width: 160px
}

div.hint {
  font-size: 1.4em;
  height: 46px;
  margin-top: 15px;
  padding: 7px
}



strong {
    font-weight: bold; 
}

em {
    font-style: italic; 
}

table {
    background: #f5f5f5;
    border-collapse: separate;
    box-shadow: inset 0 1px 0 #fff;
    font-size: 12px;
    line-height: 24px;
    margin: 30px auto;
    text-align: left;
    //width: 800px;
}   

th {
    background: url(http://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #444);
    border-left: 1px solid #555;
    border-right: 1px solid #777;
    border-top: 1px solid #555;
    border-bottom: 1px solid #333;
    box-shadow: inset 0 1px 0 #999;
    color: #fff;
  font-weight: bold;
    padding: 10px 15px;
    position: relative;
    text-shadow: 0 1px 0 #000;  
}

th:after {
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
    content: '';
    display: block;
    height: 25%;
    left: 0;
    margin: 1px 0 0 0;
    position: absolute;
    top: 25%;
    width: 100%;
}

th:first-child {
    border-left: 1px solid #777;    
    box-shadow: inset 1px 1px 0 #999;
}

th:last-child {
    box-shadow: inset -1px 1px 0 #999;
}

td {
    border-right: 1px solid #fff;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 15px;
    position: relative;
    transition: all 300ms;
}

td:first-child {
    box-shadow: inset 1px 0 0 #fff;
}   

td:last-child {
    border-right: 1px solid #e8e8e8;
    box-shadow: inset -1px 0 0 #fff;
}   

tr {
    background: url(http://jackrugile.com/images/misc/noise-diagonal.png);  
}

tr:nth-child(odd) td {
    background: #f1f1f1 url(http://jackrugile.com/images/misc/noise-diagonal.png);  
}

tr:last-of-type td {
    box-shadow: inset 0 -1px 0 #fff; 
}

tr:last-of-type td:first-child {
    box-shadow: inset 1px -1px 0 #fff;
}   

tr:last-of-type td:last-child {
    box-shadow: inset -1px -1px 0 #fff;
}   

/*tbody:hover td {
    color: transparent;
    text-shadow: 0 0 3px #aaa;
}

tbody:hover tr:hover td {
    color: #444;
    text-shadow: 0 1px 0 #fff;
}*/
</style>
     
 {% endblock %}

{% block content -%}
    
    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('ok') %}                                                
            <div class="alert alert-success alert-dismissable">
                <i class="fa fa-check"></i>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <b>OK</b> {{ flashMessage }}
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            
            <form class="form-inline form-filter" id="tracks-filters" action="{{ path('track') }}" method="post" {{ form_enctype(formFilter) }}>            
                <div class="form-group">
                    <label class="sr-only control-label" for="criteria_name">Titulo</label>
                    {{ form_widget(formFilter.valor) }}       
                </div>

                <div class="form-group">
                    <label class="sr-only control-label" for="criteria_name">Genero</label>
                    {{ form_widget(formFilter.genero) }}       
                </div>

                <div class="form-group">
                    <label class="sr-only control-label" for="criteria_name">Artista</label>
                    {{ form_widget(formFilter.artista) }}       

                </div>

                <div class="form-group">
                    <label class="sr-only control-label" for="criteria_name">Fecha </label>
                    {{ form_widget(formFilter.year) }}       
                </div>

                <div class="form-group">
                    <label class="sr-only control-label" for="criteria_name">Fuente </label>
                    {{ form_widget(formFilter.fuente) }}       
                </div>

                <div class="form-group">
                    <label class="sr-only control-label" for="criteria_name">Borrados </label>
                    {{ form_widget(formFilter.deleted) }}       
                </div>

            
                <button type="submit" class="btn btn-warning"><i class="glyphicon glyphicon-search"></i> Filtrar</button>
                
            </form>    

        </div>
    </div>
    
    
                                       
    {% set entitiesCount  = entities |length %} 
    <div class="row">  
        <div class="col-md-2">     
                <h2><i class="glyphicon glyphicon-list"></i>Tracks</h2>        
        </div>    
        <div class="col-md-10">
            <div class="editMasiv" style="padding-top:25px;">     
                    {% spaceless %}
                          <script type="text/javascript">
                            jQuery(document).ready(function () {                                

                                $('#{{ formEditMasiv.target.vars.id }}').hide();

                                $('#{{ formEditMasiv.genero.vars.id }}').hide();

                                $('#{{ formEditMasiv.fuente.vars.id }}').hide();

                                $('#{{ formEditMasiv.folder.vars.id }}').hide();

                                $('#{{ formEditMasiv.artista.vars.id }}').hide();

                                $('#{{ formEditMasiv.playlists.vars.id }}').hide();                              

                                $('#edit').hide();


                                $('.target').change(function () {
                                   var target = $(this).find('option:selected').val();
                                    
                                    switch ( target ) {
                                            case 'genero': 
                                                $('#{{ formEditMasiv.genero.vars.id }}').show();
                                                $('#edit').show();
                                                break;

                                            case 'fuente': 
                                                $('#{{ formEditMasiv.fuente.vars.id }}').show();
                                                $('#edit').show();
                                                break; 

                                            case 'folder': 
                                                $('#{{ formEditMasiv.folder.vars.id }}').show();
                                                $('#edit').show();
                                                break;         

                                            case 'artista': 
                                                $('#{{ formEditMasiv.artista.vars.id }}').show();                                                
                                                $('#edit').show();
                                                break; 
                                                
                                            case 'playlists': 
                                                $('#{{ formEditMasiv.playlists.vars.id }}').show();
                                                $('#edit').show();
                                                break;

                                            case 'borrar':                                                 
                                                $('#edit').show();
                                                break;       
                                            
                                    }               

                                });



                                $('.editMasiv').hide();    

                                $('#all').change(function () {
                                    if( $(this).is(":checked") ) {              
                                        $('input[type="checkbox"]').prop('checked', true);                    
                                        $('.editMasiv').show();    
                                        $('#{{ formEditMasiv.target.vars.id }}').show();    

                                    } else {
                                        $('input[type="checkbox"]').prop('checked', false);                    
                                        $('.target').hide();
                                    }
                                });

                                    
                                var i = 0;
                                $('.danger input[type=checkbox]').change(function () {                                    
                                    if( $(this).is(":checked") ) {              
                                        if( i > 0 ){                                                            
                                            $('.editMasiv').show();    
                                            $('#{{ formEditMasiv.target.vars.id }}').show();        
                                        }
                                        i++;
                                        
                                    } else {
                                        $('input[type="checkbox"]').prop('checked', false);                    
                                        $('.target').hide();
                                    }
                                });

                            });


                          </script>
                    {% endspaceless %}      

                    <form class="form-inline" id="tracks-massive">
                      <div class="col-md-6">
                        {% for row in formEditMasiv %}
                                                             
                              {{ form_widget(row) }}                                                                                     
                        {% endfor %}    
                      </div>       
                    <button id="edit" class="btn btn-success">Aplicar</button>
                    </form>
            </div>
        </div>

    </div>    
    <div class="row">
        {% if entitiesCount > 0 %}
            <div class="col-lg-12 col-xs-12">                
                <div class="box-body box-content">
                    <table cellspacing="0" width="100%" id="tracks">                        
                        <thead>                            
                            <tr class="table-header">                                        
                                <th><input type="checkbox" id="all"> </th>                                
                                <th>Titulo</th>                                                            
                                <th>Duracion</th>  
                                <th>Archivo</th>
                                <th>Tamaño</th>
                                <th>Path</th>                                
                                <th>Artista</th>
                                <th>Fuente</th>                                    
                                <th>Acciones</th>  
                            </tr>
                        </thead>
                        
                        <tbody>
                            {% for entity in entities %}   

                                <tr class="danger">
                                    <td><input type="checkbox" id="trackPath" name="trackPath" value="{{ entity.id }}"></td>                                    
                                    <td style="font-weight: bold;">
                                        {% if  entity.titulo | length > 40 %}
                                            {{ entity.titulo | slice(0, 30)}}

                                            <i class="glyphicon glyphicon-play-circle" title="Reproducir"></i>
                                            <input type="hidden" value="{{ entity.path }}">
                                        {% else %}
                                            {{ entity.titulo  }} 
                                            <i class="glyphicon glyphicon-play-circle" title="Reproducir"></i>
                                            <input type="hidden" value="{{ entity.path }}">
                                        {% endif %}    
                                    </td>

                                    <td>
                                        <strong></strong>
                                    </td>



                                    <td>
                                        {% if entity.isfile %}
                                            <i class="glyphicon glyphicon-ok"></i>
                                        {% else %}    
                                            <i class="glyphicon glyphicon-remove"></i>
                                        {% endif %}    
                                                
                                        {{ entity.nombreArchivo |slice(0, 30) }} 
                                        
                                    </td>

                                    <td></td>
                                    <td>{{ entity.path |slice(0, 40) }} </td>
                                    <td style="font-weight: bold;">
                                        {% if entity.artista is not null %}
                                            {{ entity.artista.nombre }}
                                        {% endif %}
                                    </td>

                                    <td>
                                    </td>
                                    
                                    <td>
                                        <div class="pull-right">
                                                <a href="{{ path('track_show', { 'id': entity.id }) }}" class="btn btn-warning" title="Mostrar">
                                                <i class="glyphicon glyphicon-eye-open"></i></a>
                                            
                                                <a href="{{ path('track_edit', { 'id': entity.id }) }}" class="btn btn-warning" title="Editar">
                                                <i class="glyphicon glyphicon-edit"></i>    
                                                </a>
                                        </div>    
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>                    
                        
                        
                    </table>
                    <div class="navigation">
                    
                        {{ knp_pagination_render(entities) }}                        
                    </div>

                    

                </div>    



            {% else %}
                <div class="alert alert-info redondeame margin-top-20">
                    <a class="close" href="#" data-dismiss="alert">×</a>

                    <p>Sin Resultados</p>
                </div>
            {% endif %}         
        </div>




    <div class="modal fade" id="editMasivModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">            
                <h4 class="modal-title" id="exampleModalLabel">Edicion Masiva</h4>
              </div>
              <div class="modal-body">              
                
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar<i class="glyphicon glyphicon-remove-circle"></i></button>
                <button type="button" class="btn btn-primary savePlayList">Guardar</button>
              </div>
            </div>
          </div>
    </div>  


    <div class="modal fade" id="playerContainer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">            
                <h4 class="modal-title" id="exampleModalLabel">Reproductor</h4>
              </div>
              <div class="modal-body" style="background-color:black;">   
                <embed type="application/x-vlc-plugin" name="player"  pluginspage="http://www.videolan.org" version="VideoLAN.VLCPlugin.2" autoplay="yes" autostart="true" width="100%" height="450px;" id="player" toolbar="true" windowless="true" bgcolor="blue"/>           
                
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar<i class="glyphicon glyphicon-remove-circle"></i></button>
                <button type="button" class="btn btn-primary savePlayList">Guardar</button>
              </div>
            </div>
          </div>
    </div> 

    </div>

{% endblock %}   

{% block javascripts %}
    {% spaceless %}

        {{ parent() }}                            
                
        <script type="text/javascript">
            $(function () {                                                    
               //$("select").chosen({disable_search_threshold: 10});  

                

                /*$( "#edit" ).click(function( event ) {                      
                    event.preventDefault();
                    $('#editMasivModal').modal({
                                    show: true,             
                    });
                    /*$.ajax({
                        url: '{#{{ path('ajax_get_playlist')}}#}',
                        dataType: 'html',
                        method: 'GET',              
                            success: function (response) {      

                                $('#contenedor').append(response);
                                $('#playlists').modal({
                                    show: true,             
                                });
                            }
                        });     
            
                    });
                    
                });
                */


                $( ".glyphicon-play-circle" ).click(function( event ) {                      
                    event.preventDefault();
                                                            
                    var trackPath = $(this).parent().find('input[type="hidden"]').val();                                

                    $('#playerContainer').modal({
                        show: true,             
                    });

                    var vlc =  document.getElementById('player');

                    //console.log(vlc);
                    var url = "file://"+trackPath

                    $(vlc).attr('target', url);                

                    //vlc.playlist.play();
                    
                });

                $( "#edit" ).click(function( event ) {                      
                    event.preventDefault();

                    var datos = $('table tbody tr.danger');

                    var el = $('.editMasiv');

                    var params = new Array();

                    selectParam = $(el).find('select option:selected').val(); 
                    

                    $.each( el.find('select') ,function(key,val){   
                                               
                        if( key == 0 ){
                            var accion = new Array();
                            accion.push('borrar'); 
                            var valorBorrar = $(this).find('option:selected').val();
                            if ( valorBorrar == "borrar"){
                                accion.push(true);
                            }
                            params.push(accion);
                        }

                        if( key == 1 ){
                          var genero = new Array();
                          genero.push('genero');  
                          selectParam = $(this).find('option:selected').val();  
                          genero.push(selectParam);    
                          params.push(genero);
                        }

                        if( key == 2 ){                          
                          console.log("carpeta");
                          var folder = new Array();
                          folder.push('folder');  
                          selectFolder = $(this).find('option:selected').val();                            
                          folder.push(selectFolder);    
                          params.push(folder);
                        }

                        if( key == 3 ){
                          var artista = new Array();
                          artista.push('artista');  
                          selectArtista = $(this).find('option:selected').val();    
                          artista.push(selectArtista);                            
                          params.push(artista);
                        }

                        if( key == 4 ){
                          var fuente = new Array();
                          fuente.push('fuente');  
                          selectFuente = $(this).find('option:selected').val();  
                          fuente.push(selectFuente);
                          params.push(fuente);
                        }

                        if( key == 5 ){
                          var playlist = new Array();
                          playlist.push('playlist');  
                          selectPlaylist = $(this).find('option:selected').val();  
                          playlist.push(selectPlaylist);
                          params.push(playlist);
                        }
                    }); 
                    

                    var tracks = new Array();

                    $.each( datos.find('input[type="checkbox"]') ,function(key,val){                    
                          if( $(val).is(":checked") ) {      
                            tracks.push($(val).val());            
                          }
                    });

                    var data = JSON.stringify(tracks);

                    var filtroApply = JSON.stringify(params);

                                       
            
                    $.ajax({
                        method: 'GET',
                        url: '{{ path("track_edit_masiv")}}',
                        dataType : 'json',
                        data: 'data='+data+'&filtro='+filtroApply,
                         success : function( response ) {                                              
                            
                            if ( response.status == "OK") {
                              alert( response.message );

                              window.location = {{ path("track")}};
                            }
                         }
                      
                    });
                
                });
                                                                                                                

            });
        </script>

    {% endspaceless %}
{% endblock %}


        
    
