{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent()}}    
    <link href='http://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>
    <link href="{{asset('bundles/app/js/plugins/asmSelect/css/jquery.asmselect.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('bundles/app/js/plugins/jquery-mt-select/css/style.css')}}" rel="stylesheet" type="text/css" />


{% endblock stylesheets %} 

{% block content -%}
    <div class="row">
        <div class="col-lg-6">
            {{ form_errors(form)}}
            <form class="form-horizontal form-column" id="track-form" action="{{ path('track_create')}}" method="post" {{ form_enctype(form) }}>   
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Track
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#track" data-toggle="tab">Track</a>
                            </li>
                            <li><a href="#tracklist" data-toggle="tab">Tracklist</a>
                            </li>
                            <li><a href="#preview" data-toggle="tab">Preview</a>
                           
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="track">
                                <h4>Track</h4>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <span class="glyphicon glyphicon-play-circle"></span>
                                        Informacion Archivo
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-12">                            
                                                {{ form_row(form.titulo) }}                                                                  
                                                {{ form_row(form.nombreArchivo) }}                                                                  
                                                {{ form_row(form.artista) }}                                                                  
                                                {{ form_row(form.genero) }} 
                                                {{ form_row(form.path) }}                                                                  
                                                {{ form_row(form.formato) }}                                                                  
                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane fade" id="tracklist">
                                <h4>Tracklist</h4>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <span class="glyphicon glyphicon-list"></span>
                                        Tracks
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-12">                            
                                                {{ form_row(form.tracklists) }}                                                                 
                                                {{ form_rest(form)}}
                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane fade" id="preview">
                                <h4>Preview</h4>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                        Video
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">                                                        
                                            <embed type="application/x-vlc-plugin" name="videotest"  pluginspage="http://www.videolan.org" version="VideoLAN.VLCPlugin.2" autostart="false" width="100%" height="450px;" id="vlc" toolbar="true" windowless="true" bgcolor="blue" tiltle="Cerati" target="{{ entity.path}}"/>                                                                                                                         
                                        </div>

                                    </div>

                                </div>
                            </div>
                            
                        </div>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a href="{{ path('track')}}" class="btn btn-default">Volver </a>
                    </div>
                    
                </div>
        </div>
    </form>                
</div>
</div>



{% endblock %}


{% block javascripts %}
    {% spaceless %}

        {{ parent() }}      
        <script src='{{asset('bundles/app/js/plugins/jquery-browser/jquery.browser.min.js')}}' type="text/javascript"></script>            
        <script src='{{asset('bundles/app/js/plugins/asmSelect/js/jquery.asmselect.js')}}' type="text/javascript"></script>


        <script type="text/javascript">
            $(document).ready(function () {
                $("select[multiple]").asmSelect({
                    addItemTarget: 'bottom',
                    animate: true,
                    highlight: true,
                    sortable: true
                });

            });

        </script> 

    {% endspaceless %}
{% endblock %}                
