{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Track</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ entity.titulo }}</td>
            </tr>
            <tr>
                <th>Nombrearchivo</th>
                <td>{{ entity.nombreArchivo }}</td>
            </tr>
            <tr>
                <th>Path</th>
                <td>{{ entity.path }}</td>
            </tr>
            <tr>
                <th>Artista</th>
                <td>{{ entity.artista }}</td>
            </tr>
            <tr>
                <th>Dvdoriginal</th>
                <td>{{ entity.dvdOriginal }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('track') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('track_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
