<div class="tracks">

	{% if artista.tracks is defined %}     
		{% if artista.tracks | length > 0 %}
		<ol>
			{% for track in artista.tracks %}
			<li>{{ track.titulo }}</li>
			{% endfor%}
		</ol>
		{% endif %}
	{% else %}
	<div class="row">

		<div class="alert alert-info alert-dismissable">
			<i class="fa fa-check"></i>
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			<b>Alerta</b> El artista no tiene tracks asociados
		</div>

	</div>

	{% endif%}
</div>




{% block javascripts %}         
<script type="text/javascript">
	{% if artista.tracks is defined %}     
		{% if artista.tracks | length > 0 %}    
			{% for track in artista.tracks %}
				document.getElementById('vlc').playlist.clear();
				document.getElementById('vlc').playlist.add("file:///{{ track.path }}");
			{% endfor%}

		{% endif%} 
	{% endif%} 	
</script>



{% endblock %}