{% if tracksRelated.tracks | length > 0 %}
    <ul>  
        <li class="list-group-item playlist-info">
            <h4>
                <i class="fa fa-list">
                    {{ tracksRelated.info }} - {{ tracksRelated.tracks | length }}
                </i>                            
            </h4> 
            
        </li>
    {% for track in tracksRelated.tracks %}                       
        <li class="list-group-item">    
            <input type="hidden" value="{{ track.id }}" id="track">
            <input type="hidden" value="{{ track.path }}" name="path">
            <input type="hidden" value="{{ track.genero }}" name="genero">
            <input type="hidden" value="{{ track.nombreArchivo }}" name="archivo">
                
            </i> {{ track.titulo | capitalize | slice(0, 25)}} 
            <button class="track">
                <i class="fa fa-play-circle-o"></i>
            </button>                                                                         
        </li>                                                                                                 
    {% endfor %}        
    </ul>
{% else %}                 
    <div class="alert alert-success alert-dismissable">
        <i class="fa fa-check"></i>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <b>OK</b>
    </div>                              
{% endif %}