{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent()}}    
    <style type="text/css">
    
    /*.info_track{
        background-color: rgb(113, 107, 107)!important;
        border-color: initial!important;
        color: #fff;
        font-weight: bold;
        padding: 10px 15px;
        position: relative;
        text-shadow: 0 1px 0 #000; 
    }*/
    .track_back{
        background-color: rgb(224, 198, 129)!important;;
    }

    .borrar{
        background-color: #F5DA81;
    }

    .volver, .panel-body{
        /*background-color: #FE9A2E;*/
        background-color: #F5DA81;
    }

    .rename, .nav-tabs{
        background-color: #DBA901;
    }

    .botones{
        background-color: #F9C90B;
        color: #fff;
    }

    .guardar{
        background-color: #f0ad4e;
    }

    

    </style>

{% endblock stylesheets %} 


{% if modo_edicion %}
        {% set title  = 'Editar Track' %}
        {% set action = path('track_update', { 'id': entity.id }) %}
        {% set form_action_value = 'Guardar Cambios' %}
    {% else %}
        {% set title = 'Nueva track' %}
        {% set action = path('track_create') %}
        {% set form_action_value = 'Guardar' %}
{% endif %}

{% block content %}    
    <div class="row">
        
        {% for flashMessage in app.session.flashbag.get('ok') %}                                                
            <div class="alert alert-success alert-dismissable">
                <i class="fa fa-check"></i>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <b>OK</b> {{ flashMessage }}
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-lg-6">
            {{ form_errors(form)}}
            <form class="form-horizontal form-column" id="track-form" action="{{ action }}" method="post" {{ form_enctype(form) }}>   
                <div class="panel panel-default info_track">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-cd"></span>Informacion
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        {{ form_errors(form)}}
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#track" data-toggle="tab">Track</a>
                            </li>
                            <li><a href="#playlist" data-toggle="tab">Playlist</a>
                            </li>

                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="track">
                                <h4>Track</h4>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <span class="glyphicon glyphicon-play-circle"></span>                                        
                                        Detalles
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-12">                            
                                                
                                                {{ form_row(form.titulo)}}                                                                                                               
                                                {{ form_row(form.artista) }}   
                                                {{ form_row(form.genero) }}                                                                
                                                {{ form_row(form.fuente) }}  
                                                {{ form_row(form.calidad) }}  
                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <i class="fa fa-file-video-o"></i>
                                        Archivo
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-12">
                                            {% if entity.formato == 'mpg'%}                                                
                                                <div class="alert alert-danger alert-dismissable">                                                
                                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                                        <b>Alert</b> Este archivo no puede ser reproducido de forma correcta por el sistema
                                                </div>
                                                <i class="glyphicon glyphicon-play-circle" title="Reproducir"></i>
                                            {% endif %}
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-12">
                                                {{ form_row(form.nombreArchivo) }}                                                                              
                                                {{ form_row(form.pathVideo) }}
                                                <button type="button" class="btn btn-primary asignar">Asignar</button>
                                                {{ form_row(form.path) }}                                                                  
                                                {{ form_row(form.formato) }}   
                                                
                                            </div>

                                        </div>

                                    </div>

                                </div>             



                            </div>
                            <div class="tab-pane fade" id="playlist">
                                <h4>Playlist</h4>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <span class="glyphicon glyphicon-list"></span>
                                        Tracks
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-12">                            
                                                {{ form_row(form.playlists) }}                                                                 
                                                {{ form_rest(form) }}  
                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </div>

                            <div class="tab-pane fade" id="playlist">
                                <h4>Playlist</h4>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <span class="glyphicon glyphicon-list"></span>
                                        Tracks
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-12">                            
                                                {{ form_row(form.playlists) }}                                                                 
                                                {{ form_rest(form) }}  
                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </div>



                        </div>
                        <button type="submit" class="btn btn-warning" style="color:#060606">
                        <i class="glyphicon glyphicon-ok-sign"></i>
                        {{ form_action_value }}
                        </button>
                        <a href="{{ path('track')}}" class="btn btn-warning" style="color:#060606"><i class="glyphicon glyphicon-chevron-left"></i> 
                        Volver
                        </a>
                        {% if modo_edicion %}
                            <a href="{{ path('track_delete_file', { id: entity.id })}}" class="btn btn-warning" > 
                            <i class="glyphicon glyphicon-remove-sign" style="background-color:#060606"></i> 
                            Borrar                               
                            </a>
                            <a href="{{ path('track_rename_file', { id: entity.id })}}" class="btn btn-warning" style="color:#060606">
                            <i class="glyphicon glyphicon-text-width"></i> 
                            Renombrar
                            </a>
                        {% endif %}    
                    </div>

                </div>
        </div>

                {% set archivo = entity.path ~ "/" ~ entity.nombreArchivo %}
        
                {% if entity.formato == 'vob' or entity.formato == 'VOB' or entity.formato == 'mpeg' or entity.formato == 'mp4'%}
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4><i class="fa fa-film"></i>Preview</h4>
                        </div>
                        <div class="panel-body">
                            <div class="row">                                                        
                            <embed type="application/x-vlc-plugin" name="videotest"  pluginspage="http://www.videolan.org" version="VideoLAN.VLCPlugin.2" autostart="false" width="100%" height="450px;" id="vlc" toolbar="true" windowless="true" bgcolor="blue" tiltle="Cerati" target="file:///{{ archivo }}"/>                                                                                                                         
                            </div>

                        </div>

                    </div>
                </div>
                {% endif %}            
        

    </form>                
</div>
</div>



{% endblock %}


{% block javascripts %}
    {% spaceless %}

        {{ parent() }}      
          <script src='{{asset('bundles/app/js/plugins/jquery-browser/jquery.browser.min.js')}}' type="text/javascript"></script>
          <script src='{{asset('bundles/app/js/plugins/chosen/chosen.jquery.js')}}' type="text/javascript"></script>
        
        <script type="text/javascript">
            $(document).ready(function () {
                /*$("select[multiple]").asmSelect({
                    addItemTarget: 'bottom',
                    animate: true,
                    highlight: true,
                    sortable: true
                });*/
            
                $("#{{ form.fuente.vars.id }}").chosen({
                    width:"100%",
                    html_template: '<img style="border:3px solid black;padding:0px;margin-right:4px" src="bundles/portada/no_image_available.jpg">'
                }); 

                $("#{{ form.artista.vars.id }}").chosen({
                    width:"100%",
                    html_template: '<img style="border:3px solid black;padding:0px;margin-right:4px" src="bundles/portada/no_image_available.jpg">'
                });    
                
                $( ".asignar" ).click(function() {
                    path = $('#{{ form.pathVideo.vars.id }}').val();
                    archivo = $('#{{ form.nombreArchivo.vars.id }}').val();
                    ruta = path+"/"+archivo;
                    $('#{{ form.path.vars.id }}').val(ruta);
                });  

                $( "#{{ form.pathVideo.vars.id }}" ).change(function() {
                    path = $('#{{ form.pathVideo.vars.id }}').val();
                    archivo = $('#{{ form.nombreArchivo.vars.id }}').val();
                    ruta = path+"/"+archivo;
                    $('#{{ form.path.vars.id }}').val(ruta);
                }); 

                $( ".glyphicon-play-circle" ).click(function( event ) {  
                    event.preventDefault();
                    
                
                });   

                $("#{{ form.playlists.vars.id }}").chosen({
                    width:"100%",
                    html_template: '<img style="border:3px solid black;padding:0px;margin-right:4px" src="bundles/portada/no_image_available.jpg">'
                });            
            });

        </script> 

    {% endspaceless %}
{% endblock %}                