<div class="tracks">
<h2>Relacionados</h2>
	{% if tracks is defined %}     
		{% if tracks | length > 0 %}
		<ul class="list-group">
			{% for track in tracks %}
			<li class="list-group-item">
				{% if track.titulo | length > 12 %}		
					<button type="button" class="btn btn-success" data-toggle="popover" title="{{ track.artista }}" data-content="{{ track.titulo |capitalize }}">{{ track.titulo|capitalize | slice(0, 12)}}</button>			
					
				{% else %}
					{{ track.titulo |capitalize }}	
				{% endif %}
				
			</li>
			{% endfor%}
		</ul>
		{% endif %}
	{% else %}
	<div class="row">

		<div class="alert alert-info alert-dismissable">
			<i class="fa fa-check"></i>
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			<b>Alerta</b> El artista no tiene tracks asociados
		</div>

	</div>

	{% endif%}
</div>




{% block javascripts %}         
<script type="text/javascript">
	{% if tracks is defined %}     
		{% if tracks | length > 0 %}    
			{% for track in tracks %}
				document.getElementById('vlc').playlist.clear();
				document.getElementById('vlc').playlist.add("file:///{{ track.path }}");
			{% endfor%}

		{% endif%} 
	{% endif%} 	

	$(function () {
  		$('[data-toggle="popover"]').popover()
	})
</script>



{% endblock %}