<div id="navbar" class="navbar navbar-inverse">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="{{ asset('bundles/syliusweb/img/logo.png') }}" class="pull-left" /> <span class="hidden-xs hidden-sm pull-left">go to dashboard</span></a>
    </div>
    <div class="visible-xs visible-sm">
        <div class="collapse navbar-collapse">
            {{ knp_menu_render(''AppBundle:Builder:createMainMenu', {'template': 'AppBundle::menu.html.twig', 'currentClass': 'active', 'ancestorClass': 'active'}) }}
        </div>
    </div>
    <div class="hidden-xs hidden-sm pull-right">
        <p class="navbar-text">Bienvenido</p>

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle navbar-widget" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-chevron-down"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="glyphicon glyphicon-home"></i> </a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}"><i class="glyphicon glyphicon-off"></i> logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
