{% extends "UsuarioBundle::layout.html.twig" %}

{% block head %}
    {{parent()}}
{% endblock %}

{% block title %} Sistema Gestion - Confirmar{% endblock title %}

{% block fos_user_content %}
    <body>
        <div class="container-fluid">  
            
            <div class="row-fluid">    
                <div class="col-md-12"> LOGO </div>
            </div>
            <div class="row-fluid">   
                <div class="col-md-3"></div>
                <div class="col-md-6">  
                    <div class="wrapper container-fluid">                    
                        <div class="login-body redondeame">   
                            <p>Escriba su nommbre de usuario:</p>
                            {% include "UsuarioBundle:Resetting:request_content.html.twig" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock fos_user_content %}
