<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}BIMPG{% endblock %}</title>

        {% block stylesheets %}
            
            {% stylesheets output='assets/compiled/backend.css' filter='cssrewrite'
                'bundles/app/css/bootstrap.min.css'
                'bundles/app/css/sb-admin.css'
                'bundles/app/font-awesome/css/font-awesome.min.css'
                'bundles/app/js/plugins/jquery-ui-1.11.1/jquery-ui.min.css'
                'bundles/app/js/plugins/jquery-ui-1.11.1/jquery-ui.theme.css'
                'bundles/app/js/plugins/jquery-ui-1.11.1/jquery-ui.structure.min.css'
                'bundles/app/js/plugins/jsTree/themes/default/style.min.css'
                'bundles/app/js/plugins/asmSelect/css/jquery.asmselect.css'
                'bundles/app/js/plugins/jquery-mt-select/css/style.css'
                'bundles/app/js/plugins/chosen/chosen.css'
                'bundles/app/js/plugins/chosen/ImageSelect.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
            {% endstylesheets %}
        {% endblock %}



        {# javascripts... #}
        {% block javascripts %}                                
            
            {% javascripts output='assets/compiled/backend.js'
                'bundles/app/js/jquery-2.1.1.min.js'
                'bundles/app/js/plugins/jquery-ui-1.11.1/jquery-ui.min.js'
                'bundles/app/js/bootstrap.min.js'
                'bundles/app/js/jquery.blockUI.js'
                'bundles/app/js/tools.js'
                'bundles/app/js/sfbimg.js'
                                             
                
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}

            
        
        {% endblock %}
       

    </head>
    <body>
        <div id="wrapper">
            {#{% include 'AppBundle::_navbar.html.twig' %}#}
            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('homepage')}}">BIMPG</a>
                </div>
                <!-- Top Menu Items -->
                <ul class="nav navbar-right top-nav">                                                
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell" style="color:red;">15</i> <b class="caret"></b></a>
                        <ul class="dropdown-menu alert-dropdown">
                            <li>
                                <a href="{{ path('get_files_news')}}">
                                <span class="label label-default"></span>
                                </a>
                            </li>
                            
                            <li class="divider"></li>
                            <li>
                                <a href="#">View All</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ app.user  }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('fos_user_profile_edit')}}"><i class="fa fa-fw fa-user"></i> Perfil</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-gear"></i> Configuracíon</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="{{ path('fos_user_security_logout')}}"><i class="fa fa-fw fa-power-off"></i> Salir</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav side-nav">
                        <li class="active">
                            <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                        </li>

                        <li>
                            <a href="{{ path('artista')}}"><i class="fa fa-deviantart"></i> Artista</a>
                        </li>

                        <li>
                            <a href="{{ path('track')}}"><i class="fa fa-music"></i> Track</a>
                        </li>

                        <li>
                            <a href="{{ path('configuracion')}}"><i class="fa fa-gear"></i> Configuracion</a>
                        </li>

                        <li>
                            <a href="{{ path('playlist')}}"><i class="fa fa-list"></i> Playlist</a>
                        </li>
                        
                        <li>
                            <a href="{{ path('fuente')}}"><i class="fa fa-cog"></i> Fuente</a>
                        </li>

                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>



            <div id="page-wrapper">

                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="row">
                        <div class="col-lg-6">
                            <h1 class="page-header">
                                Dashboard <small>Statistics Overview</small>
                            </h1>
                            <ol class="breadcrumb">
                                <li class="active">
                                    <i class="fa fa-dashboard"></i> Dashboard
                                </li>
                            </ol>
                        </div>

                        <div class="col-lg-6">
                            <h4 class="pull-right">
                                {{"now"|date('d/m/Y')}}
                            </h4>

                        </div>

                        <div class="clock" style="margin:2em;"></div>    
                        <!-- /.row -->
                    </div>

                {% block content %}{% endblock %}  
            </div>  
        </div>
        

       
</body>
</html>
