{% extends "ThemeBundle:Bootstrap:layout_base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %} Perfil {% endblock %}

{% block contenido %}


    <div class="col-md-4">
        <!-- Info box -->
        <div class="box box-solid bg-aqua">
            <div class="box-header">
                <h3 class="box-title">Datos usuario</h3>
            </div>
            <div class="box-body">
                <div class="fos_user_user_show">
                    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
                    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>                    
                </div>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>   
                
    <div class="col-md-4">
        <!-- Info box -->
        <div class="box box-solid bg-light-blue">
            <div class="box-header">
                <h3 class="box-title">Datos Insituticional</h3>
            </div>
            <div class="box-body">
                <div class="fos_user_user_show">
                    <p>Cargo: {{ user.personal.cargo }}</p>
                    <p>Fecha Ingreso: {{ user.personal.fechaIngreso | date('d/m/Y')}}</p>
                    <p>Externo: 
                        {% if user.personal.externo %}
                            Si
                        {% endif%}
                    </p>
                </div>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div> 
                
    <div class="col-md-4">
        <!-- Info box -->
        <div class="box box-solid bg-yellow">
            <div class="box-header">
                <h3 class="box-title">Datos Personales</h3>
            </div>
            <div class="box-body">
                <div class="fos_user_user_show">
                    <p>Nombre Completo: {{ user.personal.nombre }}</p>                    
                </div>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>             


{% endblock %}
