{% extends 'base.html.twig' %}

{% block title %}Configuracion {% endblock%}                        

{% block body %}                        
    
    <div class="row">
        <ol>
            {% for track in localTracks %}
                <li>{{ track.titulo}} </li>
            {% endfor %}    
        </ol>
    </div>
{% endblock %}
