{% extends 'base.html.twig' %}  



{% block stylesheets %}
    {{ parent()}}    
    <!--<link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/js/plugins/jdigiclock/css/jquery.jdigiclock.css')}}" />-->
    <!--<link rel="stylesheet" href="{{ asset('bundles/app/js/plugins/flipclock/css/flipclock.css')}}">-->
    <!--<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>-->

{% endblock stylesheets %} 



{% block content %}                        
    <div class="row">
        <div class="col-lg-3">
            
                        {% if tracklists is defined %}
                        <div class="panel panel-default">
                            
                                {% if tracklists | length > 0 %}
                                    <div class="panel-heading">
                                        <h3 class="panel-title"><i class="fa fa-list-ol"></i> Ultimas Listas</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="list-group">
                                            {% for list in tracklists %}                      
                                                <a href="#" class="list-group-item">    
                                                    <input type="hidden" value="{{ list.id }}">
                                                    <span class="badge">just now</span>
                                                    <i class="fa fa-video-camera"></i> {{ list.nombre |capitalize }}                             

                                                    {% if list.tracks | length > 0 %}
                                                        <button type="button" class="fa fa-play-circle"></button>
                                                        <small class="badge pull-right bg-red"><strong>{{ list.tracks | length }}</strong></small>
                                                            {% endif %}  

                                                    {% if list.cantreproducciones | length > 0 %}
                                                        <i class="fa fa-play">{{ list.cantreproducciones }}</i>
                                                    {% endif %}  
                                                </a>
                                            {% endfor %}    

                                        </div>
                                        <div class="text-right">
                                            <a href="#">View All Activity <i class="fa fa-arrow-circle-right"></i></a>
                                        </div>
                                    </div>

                                {% else %}       
                                    <div class="alert alert-info alert-dismissable">
                                        <i class="fa fa-info"></i>
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        <b>Alert!</b> No hay Listas cargadas
                                    </div>
                                {% endif%}    
                            </div>
                        {% endif%}  
                    </div>                                                
        </div>


        <div class="col-lg-6">
            <embed type="application/x-vlc-plugin" name="videotest"  pluginspage="http://www.videolan.org" version="VideoLAN.VLCPlugin.2" width="100%" height="450px;" id="vlc" toolbar="true" windowless="true" bgcolor="blue" tiltle="Cerati"/>
            <select readonly onChange='doAudioChannel(this.value)'>
                <option value=1>Stereo</option>
                <option value=2>Reverse stereo</option>
                <option value=3>Left</option>
                <option value=4>Right</option>
                <option value=5>Dolby</option>
            </select>
            <button class="next btn-default" type="button">Next</button>
            <button class="pause btn-default" type="button">Pause</button>
        </div>

        <div class="col-lg-8">
            <div class="tracklist list-group">
                <div class="searchTracks input-group input-group-sm" style="display:none;">
                    {% if form is defined %}
                        {{ form_widget(formSearch.track)}}                                                                                                
                    {% endif %}    
                </div>
                {% if  lastTracklist is defined %}
                    <div class="box lastTrackListLayer">
                        <div class="box-header">
                            <h3 class="box-title">
                                {{ lastTracklist.nombre }}                                        
                            </h3>

                            <h2 class="box-title">
                                {% for lastTrack in lastTracklist.tracks %}
                                    {% if lastTrack.portada is not null %}
                                        <img src="{{ asset('portada') ~'/'~ lastTrack.portada }}" width="71px;">
                                    {% endif %}    
                                {% endfor %}
                            </h2>

                        </div><!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tbody>
                                    <tr>
                                        <th>ID</th>
                                        <th>Track</th>
                                        <th>Acciones</th>                                                                                       
                                    </tr>
                                    {% for tema in lastTracklist.tracks %}
                                        <tr>
                                            <td>{{ tema.id }}  </td>
                                            <td style="font-family: 'Ubuntu', sans-serif;color:#819FF7;">{{ tema.titulo }} {{ tema.duracion | date('h:i:s')}} </td>
                                            <td>
                                                <i class="fa fa-play-circle-o"></i> 
                                                <i class="fa fa-minus-circle"></i>
                                            </td>

                                        </tr>   
                                    {% endfor %}

                                </tbody>
                                <tfooter>    
                                    <tr>
                                        <td>
                                            <a class="btn btn-info"><i class="fa fa-play playLastList"></i> </a>  </td>
                                        <td>                                                                               

                                            <button class="btn btn-info" id="newList">Crear </button>
                                        </td>                                            
                                    </tr>
                                </tfooter>
                            </table>
                        </div><!-- /.box-body -->
                    </div> 
                {% endif %}            

            </div>            
        </div>                        
    </div>
</div>
<!-- /.row -->


<!-- /.row -->


<!-- /.row -->
<div class="row">

    <!--<div class="col-lg-3">
        <div class="list-group">
            <a href="#" class="list-group-item active">Cocinar</a>
            <a href="#" class="list-group-item"><i class="fa fa-cutlery"></i>Almuerzo</a>
            <a href="#" class="list-group-item">Limpiar</a>
            <a href="#" class="list-group-item">Lavar Ropa</a>
            <a href="#" class="list-group-item"><i class="fa fa-cutlery"></i>Desayunar</a>
            <a href="#" class="list-group-item"><i class="fa fa-cutlery"></i>Cenar</a>
            <a href="#" class="list-group-item">Estudiar</a>
            <a href="#" class="list-group-item">Programar</a>
            <a href="#" class="list-group-item">Hacer Ejericios</a>
        </div>
    </div>-->
    <div class="col-lg-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-soccer-ball-o"></i> Ambientes</h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <span class="badge">just now</span>
                        <i class="fa fa-fw fa-calendar"></i> Cocinar
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">4 minutes ago</span>
                        <i class="fa fa-fw fa-comment"></i> Limpiar
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">23 minutes ago</span>
                        <i class="fa fa-fw fa-truck"></i> Lavar Ropa
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">46 minutes ago</span>
                        <i class="fa fa-fw fa-money"></i> Invoice 653 has been paid
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">1 hour ago</span>
                        <i class="fa fa-fw fa-user"></i> A new user has been added
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">2 hours ago</span>
                        <i class="fa fa-fw fa-check"></i> Completed task: "pick up dry cleaning"
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">yesterday</span>
                        <i class="fa fa-fw fa-globe"></i> Saved the world
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">two days ago</span>
                        <i class="fa fa-fw fa-check"></i> Completed task: "fix error on sales page"
                    </a>
                </div>
                <div class="text-right">
                    <a href="#">View All Activity <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>

    <!-- /.col-sm-4 -->

    <!-- /.col-sm-4 -->
    <div class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                1994 - Stone Temple Pilots - Creep
            </div>
            <div class="panel-body">

                <p>es la sexta canción del álbum debut de Stone Temple Pilots, Core. Fue el tercer y último single del álbum. La canción fue reconocida por su llamativo estilo de grunge. El single sigue siendo muy popular actualmente, e incluso apareció en la película Black Hawk Down del 2001.</p>
                <h4>Curiosidades</h4>
                <p>Con el auge de la descarga vía P2P, la canción se compartía bajo el título de "Half the Man I Used to Be" con Nirvana como sus supuestos intérpretes. Nirvana en realidad nunca grabó ninguna canción con dicho nombre ni tampoco grabó algún cover de la canción Creep. Esta confusión, incluso hoy en día, se mantiene vigente entre algunas personas.</p>
            </div>
            <div class="panel-footer">
                Panel Footer
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="box box-solid bg-light-blue">                
            <div class="box-body">

                <img src="" id="portada"/>
            </div><!-- /.box-body -->
        </div>
    </div>

</div>

{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('bundles/app/js/jquery.blockUI.js')}}" type="text/javascript"></script>
    <script src="{{ asset('bundles/app/js/tools.js')}}" type="text/javascript"></script>
    <script src="{{asset('bundles/app/js/plugins/bootbox.min.js')}}" ></script>    
    <script type="text/javascript">
                var clock;
                var activididadesDia = new Array();

                activididadesDia[0] = '06:00';
                activididadesDia[1] = '07:00';
                activididadesDia[2] = '09:00';
                activididadesDia[3] = '11:00';
                activididadesDia[4] = '12:00';
                activididadesDia[5] = '17:00';
                activididadesDia[6] = '12:35';

                $(document).ready(function () {
                    $('input[type=text]').val('');
                    $(".fa-play-circle").click(function () {
                        padre = $(this).parent().find('input').val();
                        //console.log(padre);
                        getTracks(padre);
                        vlc.playlist.play();                        
                    });
                    
                    /*$('.fa-play').click(function () {       
                     vlc = document.getElementById("vlc");
                     
                     vlc.playlist.play();
                     });*/


                });
                
                $(document).ready(function () {
                        $("#newList").click(function () {
                        
                        $('.searchTracks').show();
                        $('.lastTrackListLayer').remove();
                        $('button').attr('disabled', true);
                        var title = "Nueva Lista";
                        var htmlNewList = "<div class='box lastTrackListLayer'><div class='box-header'><h3 class='box-title'>Nueva Lista</h3></div>";                                                
                        var divTabla ="<div class='box-body table-responsive no-padding'><table class='table table-hover'><tbody><tr><th>ID</th><th>Track</th><th>Acciones</th></tr></tbody></table></div>";
                        $('.tracklist').append(htmlNewList);  
                        $('.tracklist').append(divTabla);  
                    });
                });
                


                function getTracks(padre) {
                    $.ajax({
                        url: '{{ path('ajax_get_tracks_by_tracklist')}}',
                        dataType: 'html',
                        method: 'POST',
                        data: {
                            padre: padre
                        },
                        success: function (response) {
                            console.log(response);
                            $('.tracklist').html(response);

                            //getDataByTrack();
                        }
                    });
                }


                window.addEventListener("beforeunload", function (e) {
                    var confirmationMessage = "\o/";

                    (e || window.event).returnValue = confirmationMessage; //Gecko + IE
                    return confirmationMessage;                            //Webkit, Safari, Chrome
                });


                $(document).ajaxStart(function () {
                    $.blockUI({
                        message: '<h1> <img src="{{ asset('bundles/app/img/ajax-loader2.gif') }}"/>Por favor espere...</h1>',
                        showOverlay: false,
                        fadeIn: 700,
                        fadeOut: 700,
                        timeout: 2000,
                        centerY: false,
                        /*css: {
                         border: 'none',
                         padding: '15px',
                         backgroundColor: '#000',
                         '-webkit-border-radius': '10px',
                         '-moz-border-radius': '10px',
                         opacity: .5,
                         color: '#fff'
                         }*/
                        css: {
                            width: '350px',
                            top: '10px',
                            left: '',
                            right: '10px',
                            border: 'none',
                            padding: '5px',
                            backgroundColor: '#000',
                            '-webkit-border-radius': '10px',
                            '-moz-border-radius': '10px',
                            opacity: .6,
                            color: '#fff'
                        }
                    })


                    //bloquearPantalla("{{ asset('bundles/app/img/ajax-loader2.gif') }}");
                    blockeo = true;
                }).ajaxStop(function () {

                    if (blockeo) {
                        setTimeout($.unblockUI, 1000);
                        //desbloquearPantalla();

                    }
                }
                );
    </script>



{% endblock %}