{% extends 'base.html.twig' %}

{% block title %}Configuracion {% endblock%}                        

{% block content %}                        
    
    <div class="row">
                    {% for flashMessage in app.session.flashbag.get('ok') %}                                                
                        <div class="alert alert-success alert-dismissable">
                                        <i class="fa fa-check"></i>
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        <b>OK</b> {{ flashMessage }}
                        </div>
                    {% endfor %}
    </div>
         
{% endblock %}
