{% extends 'AppBundle:Home:layout.html.twig' %}

{% block title %}Importar {% endblock%}                        

{% set size =  3 %}                        

{% block main %}                        


<div class="row">

    <div class="col-md-12">
        <h1 class="page-header">
            Elejir <small>donde se desea ubicar los videos</small>
        </h1>        
        
        <div class="path">
            

            <div class="row root">
                <form role="form" id="videos_found" method="post">
                <div class="col-md-2">  
                    {% set dir = directory | split('/') %}                    

                    <select name="root" id="root" class="form-control">
                        <option value="{{ directory }}">{{ dir.4 }}</option>                        
                    </select>                    
                </div>

                </form>  
            </div>
                          
            
        </div>
    </div>
    
</div>

<div class="row sources">
    <div class="col-md-12">
        <h1 class="page-header">
            Videos <small>Encontrados en /home/gabriel/Descargas</small>
        </h1> 
        
    </div>
</div>


<div class="row sources">
{% for file in files %}    
        {% if file.formato == "mpg" %}
        <div class="col-md-4 {{ file.formato }}" >
                                            
            {% set titl = file.titulo|split('.') %}         
            <div class="trac" >     
            <input type="checkbox" id="track" name="track" value="{{ file.path }}">
            {{ file.titulo | slice(0, 50) }}
            <!--<span class="glyphicon glyphicon-film" aria-hidden="true"></span>--> 
            </div>
                        
        </div>
        {% endif %}

        {% if file.formato == "vob" %}
        <div class="col-md-4 {{ file.formato }}" >
                                            
            {% set titl = file.titulo|split('.') %}         
            <div class="trac" >     
            <input type="checkbox" id="track" name="track" value="{{ file.path }}">
            {{ file.titulo | slice(0, 50) }}
            <!--<span class="glyphicon glyphicon-film" aria-hidden="true"></span>--> 
            </div>
                        
        </div>
        {% endif %}

        {% if file.formato == "mp4" %}
        <div class="col-md-4 {{ file.formato }}" >
                                            
            {% set titl = file.titulo|split('.') %}         
            <div class="trac" >     
            <input type="checkbox" id="track" name="track" value="{{ file.path }}">
            {{ file.titulo | slice(0, 50) }}
            <!--<span class="glyphicon glyphicon-film" aria-hidden="true"></span>--> 
            </div>
                        
        </div>
        {% endif %}
{% endfor %}    

</div>



{% endblock %}

{# javascripts... #}
{% block javascripts %}                                

{{ parent()}}


<script type="text/javascript" 
        src="{{ asset('bundles/app/js/sfbimg.js')}}">
</script>
            
<script type="text/javascript">
    var urlRename = "{{ path('ajax_track_rename_file')}}";
    var ur = "{{ path('ajax_get_root_media')}}";
    var urlMedia = "{{ path('ajax_get_root_media')}}";
    var urlImportFiles = "{{ path('importar_files')}}";
    var gifURL = "{{ asset('progress-bar.gif')}}";
    var urlCreateFolder = "{{ path('create_directory') }}";
    var trackSelected = false;

    $( function () {
        getChildrens($('.root'),  $('#root').find(":checked").val(), 'genero');
        $('#button_import').hide();     


    });

$( document ).on( 'change', 'input[type="checkbox"]', function () {
    if( $(this).is(":checked") ) {              
        trackSelected = true;
    }
    nombre = $( 'select:last' ).attr('name');  
    console.log(nombre);
    if ( nombre == "fuente") {

        button  = "<div class='col-md-2'><button type='submit' id='button_import' class='btn btn-primary'><span class='glyphicon glyphicon-import' aria-hidden='true'></span>Importar</button></div>";
        $('.path').append( button ); 
    }

}); 

$( document ).on( 'change', 'select', function(){ 
    nombre = $( this ).attr('name');  
    switch( nombre ){
        case 'genero':
            nuevo = 'artista';
            getChildrens( $( this ),  $(this).find(":checked").val() ,nuevo);
            break;

        case 'artista':
            nuevo = 'anio';
            getChildrens( $( this ),  $(this).find(":checked").val() ,nuevo);
            break;
        case 'anio':
            nuevo = 'fuente';
            getChildrens( $( this ),  $(this).find(":checked").val() ,nuevo);
            break;    
        
        case 'fuente':
            if( trackSelected ) {            
                button  = "<div class='col-md-2'><button type='button' id='button_import' class='btn btn-primary'><span class='glyphicon glyphicon-import' aria-hidden='true'></span>Importar</button></div>";
                $('.path').append( button );             
            }

            break;
    }    
        
});   



$(document).on( 'click', '.addFolder', function(){ 

    inputText  = "<input type='text' name='newFolder' id='newFolder'>";
    inputText += "<i class='fa fa-save saveFolder'></i>"; 
    $( this ).parent().append( inputText );
    
    $( this ).parent().find('span.glyphicon-folder-close').hide();
    
});



$(document).on( 'click', '.saveFolder', function(){                      
    folder = $( this ).parent().find('select');
    folderParent = $( folder ).find('option:selected').val();
    nameFolder = $( this ).parent().find('input').val();
    params  = 'dir_parent='+folderParent;
    params += '&name='+nameFolder;
    elementParent = $( this ).parent();

    sfBIMG.process(params , urlCreateFolder, elementParent);
    
});


$(document).on( 'submit', '#button_import', function( event ){                  
    event.preventDefault();

    sfBIMG.blockScreen(gifURL);

    var pathTarget = $('select:last').val();

    sources = $('.sources');

    var pathSource = getPathSource( sources );
    
    var dataTracks = JSON.stringify( pathSource );

    var datas = 'sources='+dataTracks;

    datas += '&target='+pathTarget;

         
    sfBIMG.process(datas , urlImportFiles);

    
    
});


function getPathSource( paths ){
    var Tracks = new Array();
    $.each(  paths.find('.trac'), function( key, element ) {         
           
        track = $( element ).find('input');
        
        if ( $( track).is(':checked') ){
           Tracks.push( $( track ).val() );        
        }
                    
    });
    
    return Tracks;
}


/* recibe el contenedor y el valor a buscar */
function getChildrens( container, root, name  ) {
    getfilelist( container, root, name  );
}

function getfilelist( container, root, name ) {                

        $.get( urlMedia, { dir: root, name: name }, function( response ) {
          json = jQuery.parseJSON(response);
          var decoded = $('<div/>').html(json.html).text();

          $( '.path' ).append(decoded);     
          $('.button_import').show();                  
        });
}

</script> 

{% endblock %}