{% extends 'base.html.twig' %}

{% block title %}Configuracion {% endblock%}   

{% block stylesheets %}
            
    {{ parent() }}            
                <link rel="stylesheet" href="{{ asset('bundles/app/js/plugins/directoryTree/directoryTree.css') }}" type="text/css" />
                <link rel="stylesheet" href="{{ asset('bundles/app/js/plugins/filetree/filetree.css') }}" type="text/css" />
                
            
{% endblock %}                     

{% block content %}                        

    <div class="row">
        <form role="form" name="formSettings" action="{{ path('step_one')}}" method="post" {{ form_enctype(form) }}>                                                
        <div class="col-md-4">
            
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Configuracion</h3>
                </div>
                
                <div class="directory">
                    <div class="box-header">
                        <h3 class="box-title">Directorio Usuario</h3>
                    </div>    

                    <div id="containerUsuario" style="background-color: white;"> </div>    

                    <div id="fileUsuario"></div>
                    {{ form_row(form.path_home) }}
                    
                </div>         
                <div class="btns">
                    <button type="submit" class="btn btn-warning">Guardar</button>
                    <button class="btn btn-warning">Siguiente</button>
                </div>
            </div>
        </div>
        </form>    
    </div>

    <div class="row">
        <div class="col-md-4">
            <!-- Info box -->
            <div class="box box-solid bg-aqua">
                
                
                <div class="box-body">
                    <ol>
                       <div class="row">
                        {% for flashMessage in app.session.flashbag.get('ok') %}                                                
                            <div class="alert alert-success alert-dismissable">
                                            <i class="fa fa-check"></i>
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                            <b>OK</b> {{ flashMessage }}
                            </div>
                        {% endfor %}
                        </div>
                    </ol>
                    
                </div>
                
            </div>
        </div>

    </div>
                        
{% endblock %}



{# javascripts... #}
{% block javascripts %}                                

{{ parent()}}
            

<script type="text/javascript">
    var urlMedia = "{{ path('ajax_get_root_media')}}";
    

    $( function () {
        
        pathUsuario = $('.directory').find('input:hidden').val();

        $( '#container' ).html( '<ul class="filetree start"><li class="wait">' + 'Generando arbol...' + '<li></ul>' );    

        
        getfilelist( $('#containerUsuario') , pathUsuario );

        $( '#container', '#containerUsuario' ).on('dblclick', 'li a', function() {
            var entry = $(this).parent();
            
            if( entry.hasClass('folder') ) {
                if( entry.hasClass('collapsed') ) {
                            
                    entry.find('ul').remove();
                    getfilelist( entry, escape( $(this).attr('rel') ));
                    entry.removeClass('collapsed').addClass('expanded');
                }
                else {
                    
                    entry.find('ul').slideUp({ duration: 500, easing: null });
                    entry.removeClass('expanded').addClass('collapsed');
                }
            } 
            return false;
        });

        $( '#container' ).on('click', 'li a', function() {
            var valor = $(this).attr('rel');
            
            $('#appbundle_configuracion_path').val(valor); 
        
        });

        /**/
        /*$( ".sig" ).on('click', function( event ) {   

            //var folderMultimedia = $('#appbundle_configuracion_path').val();        

            $("form").submit();
        });*/    
        /**/

        
    });
    
    
        
                





</script> 

{% endblock %}
