<div class="panels">      
        <!-- FAVORITOS -->
        {% if favorites is defined %}
            {% if favorites | length > 0 %}
                <div class="favorites_panel">           
                    <div class="panel panel-default">                           
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="glyphicon glyphicon-heart"></i> Favoritos<i class="fa fa-play-circle pull-right" title="Reproducir"></i></h3>
                        </div>

                        <div class="panel-body favoritesList">
                            <ul class="list-group">
                                {% for favorite in favorites |sort %}                      
                                    <li class="list-group-item">    

                                        <input type="hidden" value="{{ favorite.id }}" id="track">
                                        <input type="hidden" value="{{ favorite.path }}" name="path">
                                        <input type="hidden" value="{{ favorite.genero }}" name="genero">
                                        <input type="hidden" value="{{ favorite.nombre_archivo }}" name="archivo">
                                        <a href="{{ path('playlist_settings')}}">{{ favorite.titulo }} </a>
                                        <strong>
                                            {% if favorite.duration is defined %} 
                                                {{ favorite.duration }} 
                                            {% endif %}
                                        </strong>
                                        <i class="fa fa-play-circle-o track"></i>
                                        <a href="#"><i class="fa fa-gear"></i></a>                              

                                    </li>

                                {% endfor %}    

                            </ul>
                        </div>    
                    </div>
                </div>

                {% else %}       
                <div class="alert alert-info alert-warning">
                    <i class="fa fa-info"></i>
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <b>Alert!</b> No hay favoritos
                </div>
              {% endif %}        
        {% endif %}       
        <!-- PLAYLIST ENQUEE -->                                                
        <ol type="1"  class="tracks-enquee">         
            
          <li class="list-group-item playlist-info">
            <h4>
              <i class="fa fa-list">
              Track en cola        
              </i>              
            </h4> 
          </li> 
                               
          <li class="list-group-item playlist-info">
              <button class="btn btn-default playAll">
                <i class="fa fa-play-circle-o" title="Reproducir Todos"></i>
              </button>
              <button class="btn btn-default">
                <i class="fa fa-random" title="Aleatorio"></i>        
              </button>          
          </li>
            
            </ol>
        

        <!-- PLAYLIST -->
        {% if userPlaylists is defined %}
            {% if userPlaylists | length > 0 %}
            <div class="playlists_planel">
                <div class="panel panel-default">        
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-list-ol"></i> Ultimas Listas </h3>
                    </div>
                    <div class="panel-body">
                        <ul class="playlists-user">
                            {% for list in app.user.playlists %} 
                                
                            <li href="#" class="list-group-item playlist">    
                                {% if list | length > 0 %}                                    
                                    <a href="{{ path('playlist_settings', { 'id': list.id }) }}">{{ list.nombre | upper }} </a>                                                                                                 
                                    <a href="#">
                                        <input type="hidden" name="playlist" value="{{ list.id }}">                        
                                        <i class="fa fa-play-circle-o play-playlist" title="Reproducir"></i>
                                    </a>

                                    <button class="btn btn-default duracion">
                                        <i class="fa fa-clock-o"></i>
                                    </button>

                                    <small class="badge pull-right bg-red">
                                        <strong>{{ list.tracks }}</strong>
                                    </small>
                                {% endif %}                     

                                {% if list.cantreproducciones | length > 0 %}
                                    <i class="fa fa-play">{{ list.cantreproducciones }}</i>
                                    <i class="glyphicon glyphicon glyphicon-save usb" title="Copiar a USB"></i>
                                    <i class="glyphicon glyphicon-floppy-save" title="Descargar lista"></i>
                                {% endif %}  
                            </li>
                            {% endfor %}    


                        </ul>

                    </div>   
                </div>
            </div>
            
            {% else %}       
                <div class="alert alert-info alert-warning">
                    <i class="fa fa-info"></i>
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <b>Alert!</b> No tiene listas
                </div>
            {% endif %} 
        {% endif %} 
        
</div>