<div class="row playlistOptions">   
   <div class="col-md-8">       
        <ul >
            <li class="list-group-item">
                <a class="btn btn-primary" role="button" data-toggle="collapse" href="#containerPlaylists" aria-expanded="false" aria-controls="containerPlaylists">
                    <i class="fa fa-plus add_to_playlist"></i> 
                    <i class="fa fa-th-list add_to_playlist" style="margin-left: 15px;"></i>                                      
                </a>        

                <button class="btn btn-default backtrack">
                    <i class="fa fa-fast-backward"></i>
                </button>

                <button class="btn btn-default nexttrack">
                    <i class="fa fa-fast-forward"></i>      
                </button>
                
                <button>
                    <i class="btn btn-default fa fa-star"></i> 
                </button>
            </li>                                                                                                   
        </ul>        
            
        <div class="collapse" id="containerPlaylists">
          <div class="well">
            <form class="form-inline">
            <ul class="playlists">  
                <li class="list-group-item">
                	<h3><i class="fa fa-list"></i>Agregar a lista</h3>	
                </li>
                {% if playlists | length > 0 %}
                    {% for playlist in playlists %}
        				<li class="list-group-item">
        					<input type="checkbox" name="playlist" class="form-control">
        					{{ playlist.nombre }}
        					<input type="hidden" name="playlist_id" value="{{ playlist.id }}" class="form-control">
        				</li>        
        			{% endfor %}	                                           
                {% else %}    
                    <p>no posee listas</p>
                {% endif %}

                <li class="list-group-item"><p> <label>Nueva lista</label></p>
                    <input type="text" style="width: 40%" class="form-control" name="playlist_new">
                    <button class="btn btn-default guardar_playlist"><i class="fa fa-floppy-o"></i></button>
                    
                </li>
            </ul>
            </form>            
          </div>
        </div>
    </div>
</div>   

</script>


