
<div class="row search">
    <div class="col-lg-12">  
		<form role="form" class="form-inline">	
			{{ form_widget(formSearch.track)}}
			<!--<button type="button" id="busquedaAvanzada" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="btn btn-primary">
				<i class="glyphicon glyphicon-search"></i>
			</button>-->  

			
			<p>
			<input type="checkbox" name="source" value="youtube">
			<i class="fa fa-youtube"></i>
			<input type="checkbox" name="source" value="pc" checked>
			<i class="fa fa-desktop"></i>
			<input type="checkbox" name="source" value="all">
			<i class="fa fa-globe"></i>
			</p>
		</form>
	</div>	
</div>