<div class="row content-sliders">
    <div class="sliders">
        <div id="containerTrackArtista">            
            {% if artistasThumbnails | length > 0 %}
            <h3>Artistas
                <span class="glyphicon glyphicon-film pull-right">
                    {{ artistasThumbnails | length }} 
                </span>
            </h3>

            <div class="sliderTrackFavorites">
                <ul class="artistas list-inline">
                    {% for thumbnail in artistasThumbnails %}                        
                        <li class="thumbnails">
                            <button class="btn btn-default">
                                <i class="fa fa-play-circle-o"></i>
                            </button>
                            <img src="{{ asset('thumbnails') ~'/artistas/'~ thumbnail.thumbnail }}" width="196" height="110" title="{{ thumbnail.artista }}"/>
                            <a href="#"><i class="fa fa-edit editar"></i></a>
                            
                            <input type="hidden" value="{{ thumbnail.artista }}" name="artista">
                        </li>                        
                    {% endfor %}
                </ul>
            </div>
            {% else %}
                <div class="alert alert-info alert-dismissable">
                    <i class="fa fa-info"></i>
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <b>Alert!</b> No hay favoritos
                </div>
            {% endif %}

        </div>

        {% if is_granted('ROLE_USER') %}
        <div id="containerTrackFavorites">            
            {% if app.user.favorites is defined %}
            <h3><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>Favoritos
                <span class="glyphicon glyphicon-film pull-right">
                    {{ favorites | length }} 
                </span>
            </h3>

            <div class="sliderTrackFavorites">
                <ul class="favorites list-inline">
                    {% for favorite in favorites %}

                    <li>
                        <button class="btn btn-default play">
                                <i class="fa fa-play-circle-o" style="margin-top:5%;"></i>
                        </button>
                        <h4>{{ track.nombre_archivo }}</h4>
                        <img src="{{ asset('track') ~'/'~ favorite.titulo~'.jpeg' }}" width="196" height="110" title="{{ favorite.titulo }}"/>
                        <input type="hidden" value="{{ favorite.id }}" id="track">
                        <input type="hidden" value="{{ favorite.path }}" name="path">
                        <input type="hidden" value="{{ favorite.nombre_archivo }}" name="archivo">
                        <input type="hidden" value="{{ favorite.titulo }}" name="titulo">
                        
                    </li>                

                    {% endfor %}                          
                </ul>
            </div>
            {% else %}
                <div class="alert alert-info alert-dismissable">
                    <i class="fa fa-info"></i>
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <b>Alert!</b> No hay favoritos
                </div>
            {% endif %}

        </div>
        {% endif %}


        <div id="sliderLastTrack">
            <h3><span class="glyphicon glyphicon-fire" aria-hidden="true"></span>Ultimas reproducciones
                <span class="glyphicon glyphicon-film pull-right">
                    {{ topTracks | length }} 
                </span>
            </h3>

            <div class="viewport">
                <ul class="lastTrack list-inline tracks">
                     {% for track in topTracks %}                      
                     <li>                            
                        <button class="btn btn-default play">
                                <i class="fa fa-play-circle-o" style="margin-top:5%;"></i>
                        </button>
                        <h4>{{ track.nombre_archivo }}</h4>
                        <img src="{{ asset('track') ~'/'~track.nombre_archivo~'.jpg' }}" width="196" height="110" class="img-thumbnail" title="{{ track.titulo }}"/>                   
                        <input type="hidden" value="{{ track.id }}" name="track">
                        <input type="hidden" value="{{ track.path }}" name="path">
                        <input type="hidden" value="{{ track.nombre_archivo }}" name="nombre_archivo">
                                                                                                                              
                    </li>
                    {% endfor %}   
                </ul>
            </div>        
        </div>

        {% if fuentes | length > 0 %}
        <div id="sliderSources">
            <h3><span class="glyphicon glyphicon-hdd" aria-hidden="true"></span>Fuentes
                <span class="glyphicon glyphicon-film pull-right">
                    {{ fuentes | length }} 
                </span>
            </h3>

            <div class="viewport">
                <ul class="fuentes list-inline">
                    {% for fuente in fuentes %}

                    <li>
                        <button class="btn btn-default play">
                                <i class="fa fa-play-circle-o" style="margin-top:5%;"></i>
                        </button>
                        <h4>{{ track.nombre_archivo }}</h4>
                        {% if fuente.portada is not null %} 
                        <img src="{{ asset('portada') ~'/'~ fuente.portada }}" width="100" height="80" title="{{ fuente }}">
                        {% else %}
                        <img src="{{ asset('portada/no_image_available.jpg')  }}" width="100" height="80" title="{{ fuente.artista ~'-'~ fuente }}">                                        
                        {% endif %} 
                        <input type="hidden" value="{{ fuente.id }}" name="fuente">
                        

                    </li>                

                    {% endfor %}                          
                </ul>
            </div>
        </div>
        {% endif %}


        {% if generos | length > 0 %} 
            {% for genero in generos %} 
            {% set ger = genero.nombre|lower|raw %}
            <div id="slider{{ ger }}">
                <h3>
                    <img src="{{ asset('icons') ~'/'~ger~'.png' }} " width="100" height="80" title="{{genero.nombre}}"/>
                    {{ genero.nombre }}
                </h3>

                <div class="viewport">
                    <ul class="{{genero.nombre}} list-inline tracks">                    
                        {% for track in genero.tracks %}
                        
                        <li>                            
                            <button class="btn btn-default play">
                                <i class="fa fa-play-circle-o" style="margin-top:5%;"></i>
                            </button>
                            <h4>{{ track.nombre_archivo }}</h4>
                            <img src="{{ asset('track') ~'/'~track.titulo~'.jpg' }}" width="196" height="50" class="img-thumbnail" title="{{ track.titulo }}"/>
                            
                            <input type="hidden" value="{{ track.id }}" name="track">
                            <input type="hidden" value="{{ track.path }}" name="path">
                            <input type="hidden" value="{{ track.nombre_archivo }}" name="nombre_archivo">
                            <input type="hidden" value="{{ genero.nombre }}" name="genero">                        
                            <input type="hidden" value="{{ track.genero.posicion }}" name="position">                        
                                                    
                        </li>                

                        {% endfor %}                          
                    </ul>
                </div>
            </div>
            {% endfor %}
        {% endif %}


        
    </div>    
</div>