<script id="template-tracks-genero" type="text/x-handlebars-template">  
  <div class="tracks-by-genero">  
    
    <ul class="tracks-genero">         
    {% raw %}
      <li class="list-group-item playlist-info">
        <h3>                 
            
            {{#each this}}                            
                {{#iff @key '<' 1}}
                    {{information.genero}}<strong>01:02:48</strong>
                {{/iff}}   

            {{/each}}
            
            </i>       

        </h3>                    
      </li>
      <li class="list-group-item">
        <a href="#"><i class="fa fa-chevron-circle-left"></i></a>
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#"><i class="fa fa-chevron-circle-right"></i></a>                              
      </li>
      {{#each this}}                  
        {{#iff @key '<' 10}}
          <li class="list-group-item 0-10">
            <input type='hidden' value="{{ track.path }}" id="track" name="track">
            <input type='hidden' value="{{ track.titulo }}" id="titulo" name="titulo">
            {{track.titulo}} <strong>{{duracion}}</strong>
          </li>                             
        {{/iff}}                
      {{/each}}

            
     <li class="list-group-item playlist-info">
      <button class="btn btn-default playAll">
        <i class="fa fa-play-circle-o" title="Reproducir Todos"></i>
      </button>
      <button class="btn btn-default">
        <i class="fa fa-random" title="Aleatorio"></i>        
      </button>

      <button class="btn btn-default">
        <i class="fa fa-stop" title="Parar"></i>  
      </button>
      
    </li>
    {% endraw %}  
    </ul>
  </div>

</script>


<script id="template-content" type="text/x-handlebars-template">  
<div class="row">   
  <div class="col-md-8">   
    {% raw %} 
    <h2>{{file}}</h2>
  </div>  
        <embed type="application/x-vlc-plugin" 
            name="videotest"  
            pluginspage="http://www.videolan.org" 
            version="VideoLAN.VLCPlugin." 
            id="vlc" 
            width="1200"
            height="500"
            toolbar="true"/>
        <input type="hidden" name="track_current" value="{{file}}">     
    {% endraw %} 
  
  </div>
</div>  
</script>

<script id="template-player" type="text/x-handlebars-template">  
<div class="row">  
  {% raw %}   
  <div class="col-md-8">     
    <h2 class="test">{{title}}</h2>    
  </div>
  

  <div class="col-md-8 player">           
        <embed type="application/x-vlc-plugin" 
            name="videotest"  
            pluginspage="http://www.videolan.org" 
            version="VideoLAN.VLCPlugin.2"   
            id="vlc" 
            width="1200"
            height="500"
            text="Waiting for video"
            toolbar="true"/>
        <input type="hidden" name="track_current" value="{{title}}">    
        
  </div>
  {% endraw %}  
</div>  

<div class="row">
    <div class="col-md-8">
        <ul>
            <li class="list-group-item">
                <button class="btn btn-default playlists">
                    <i style="margin-right:5px" class="fa fa-plus"></i>
                    <i class="fa fa-list"></i>
                </button>
                
                <button>
                    <i class="btn btn-default fa fa-star"></i> 
                </button>
            </li>                                                                                                   
        </ul> 
           
    </div>    
</div>



</script>


<script id="template-track-pc" type="text/x-handlebars-template">  
  <div class="tracks-by-genero">  
    <h2><i class="fa fa-desktop fa-2x"></i><small>Encontrados</small></h2>
    {% raw %} 
    <ul>                 

      <li class="list-group-item playlist-info">
      <h3>{{title}}</h3>                    
      <img width="100" height="100" src="{{thumb}}">
      <p style="padding-top:1%">
        <button class="btn btn-default play-search-pc">
            <i class="fa fa-play-circle-o"></i>
            <input type="hidden" name="pathFull" value="{{url}}">
            <input type="hidden" name="title" value="{{title}}">
            <input type="hidden" name="trackID" value="{{id}}">
            <input type="hidden" name="position" value="{{position}}">
            <input type="hidden" name="nombre_archivo" value="{{nombre_archivo}}">
        </button>
        
        <button class="btn btn-default" role="button" data-toggle="collapse" href="#containerPlaylists" aria-expanded="false" aria-controls="containerPlaylists" style="background-color: #fff; color:#222">
            <i style="margin-right:5px" class="fa fa-plus"></i>
            <i class="fa fa-list"></i>
        </button>

        <button class="btn btn-default addTrackToEnquee">
          <i class="fa fa-plus"></i>
          Cola
        </button>
        
      </p>
            
    </li>
            
    </ul>


    <div class="collapse" id="containerPlaylists">
          <div class="well">
            <form class="form-inline">
            <ul class="playlists-user-now">  
                
            </ul>
            </form>            
          </div>
        </div>
    {% endraw %} 

</div>

<div class="modal fade" id="modalPlaylists" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Agregar a lista</h4>
          </div>
          
          <div class="modal-body content-Playlists">   
            <div class="row">
                <div class="col-md-6">
                    <p><a href="#">Elegir la carpeta fuente</a></p>
                </div>
            </div>                                      
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close
            </button>                                
          </div>
        </div>
       </div>
</div> 


</script>

<script id="template-track-options" type="text/x-handlebars-template">  
 {% raw %}
 
    <h2>{{label}}</h2>
    {% endraw %}  
     <div class="player">                 
            <embed type='application/x-vlc-plugin' 
                   name='videotest'  
                   pluginspage='http://www.videolan.org' 
                   version='VideoLAN.VLCPlugin.2' 
                   id='vlc' 
                   class='playerEmbeded' 
                   toolbar='true' 
                   controls='true'
                   windowless='false' 
                   />                        
    </div>

    <div class="trackData1">
        <ul class="opciones" style="list-style:none;">
          {% raw %}
          <li>
           <i class="fa fa-plus" title="Agregar a Lista"></i>
           <i class="fa fa-star" title="Establecer como favorito"></i>
           <input type="hidden" value="{{id}}">
           <input type="hidden" value="{{value}}">                                                           
         </li>                        
         {% endraw %}  
       </ul>
     </div>   

</script>

<script id="template-tracks-related" type="text/x-handlebars-template">  
  <div class="tracks-by-artist">
    <h2>Ultimos reproducidos</h2>
    <ul class="list-group" style="margin: 10px 0;cursor:pointer;">         
    {% raw %}
      {{#each tracksLastPlay }}
         <li class="list-group-item">";
          <input type='hidden' value="{{path}}" id="track" name="track">
          {{artista}} - {{titulo}}
          <button class="play">
            <i class="fa fa-play-circle-o" title="Reproducir"></i>
          </button>
         </li>
      {{/each}}
    {% endraw %}  
    </ul>
  </div>
</script>


<script id="template-tracks-youtube" type="text/x-handlebars-template">  
  <div class="tracks-by-youtube">  
    
    <ul class="youtube-founded">         
    {% raw %}
      
      {{#each this}}        
         <li class="list-group-item"> 
          <p>                  
           <strong>{{title}}</strong>
          </p>
          <a href='#'><img src="{{thumb}}"></a>
          <input type='hidden' name='url' value='{{url}}'>
          <input type='hidden' name='title' value='{{title}}'>
         </li>        
      {{/each}}
      
    {% endraw %}  
    </ul>
  </div>

</script>



<script id="template-youtube" type="text/x-handlebars-template">
    
    <div class='youtube'>
      {% raw %}
      <h3>{{title}}</h3>
        {{track}}

         <iframe width="796" height="510"
          src="https://www.youtube.com/embed/{{url}}?autoplay=1&allowFullscreen=true">
         </iframe> 
              
      {% endraw %}   
    </div>
      
</script>


<script id="template-tracks-enquee" type="text/x-handlebars-template">    
    <ol type="1"  class="tracks-enquee">         
    {% raw %}
      <li class="list-group-item playlist-info">
        <h4>
          <i class="fa fa-list">
          Track en cola        
          </i>              
        </h4> 
      </li> 
      {{#each this}}          

      <li class="list-group-item track">
        {{titulo}}                          
        <input type='hidden' value="{{ path }}" id="track" name="path">
        <input type='hidden' value="{{ titulo }}" id="titulo" name="titulo">
        <input type='hidden' value="{{ nombre_archivo }}" id="nombre_archivo" name="nombre_archivo">
        <input type='hidden' value="{{ position }}" id="position" name="position">
        {{track.titulo}} <strong>{{duracion}}</strong>
      </li>                             
      {{/each}}
            
      <li class="list-group-item playlist-info">
      <button class="btn btn-default playAll">
        <i class="fa fa-play-circle-o" title="Reproducir Todos"></i>
      </button>
      <button class="btn btn-default">
        <i class="fa fa-random" title="Aleatorio"></i>        
      </button>
      
    </li>
    {% endraw %}  
    </ul>
  </div>

</script>
