{% extends 'AppBundle:Home:layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}                                
    <link rel="stylesheet" href="{{ asset('bundles/app/js/plugins/boxslider/jquery.bxslider.css') }}" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>

    <style type="text/css">
      
    li.list-group-item, .test {
        font-family: 'Roboto Condensed', sans-serif;
    }

    </style>
{% endblock %}

{% block button_search %} 
<div class="row search">
    <div class="col-lg-12">                                                                                            
    </div>
</div>


{% endblock %}


{% block sidebar %}                        
        
    {% if app.user.playlists is defined %}    
        {% include 'AppBundle:Home:_panels.html.twig' 
            with {'userPlaylists': app.user.playlists, 
                  'topTracks': topTracks } 
        %}
    {% endif %}
                                                                                                    
{% endblock sidebar %}


{% block main %}         
    {% include 'AppBundle:Home:_searchSimple.html.twig' %}

    <div class="row contenido">                 
        
    </div>

    {% if is_granted('ROLE_USER') %} 
        {% include 'AppBundle:Home:_sliders.html.twig' 
                with {'fuentes': fuentes, 'topTracks': topTracks } 
        %}
    {% endif %} 




{% endblock main %}


{% block aside %}            
    
    
{% endblock aside %}


{# javascripts... #}
{% block javascripts %}
{{ parent() }}    
<script type="text/javascript" src="{{ asset('bundles/app/js/routes.js')}} "></script>

<script type="text/javascript" 
        src="{{ asset('bundles/app/js/ajax.js')}}">
</script>

<script type="text/javascript" 
        src="{{ asset('bundles/app/js/sfbimg.js')}}">
</script>

<script type="text/javascript" 
        src="{{ asset('bundles/app/js/handlebars-custom.js')}}">
</script>

<script type="text/javascript" 
        src="{{ asset('bundles/app/js/plugins/boxslider/jquery.bxslider.js')}}">
</script>

<script type="text/javascript" 
        src="{{ asset('bundles/app/js/home.js')}}">
</script>

<script type="text/javascript" 
        src="{{ asset('bundles/app/js/sliders.js')}}">
</script>

<script type="text/javascript" 
        src="{{ asset('bundles/app/js/jquery.time.js')}}">
</script>

<script type="text/javascript" 
        src="{{ asset('bundles/app/js/import-front.js')}}">
</script>

<script type="text/javascript" 
        src="{{ asset('bundles/app/js/playlists.js')}}">
</script>

<script type="text/javascript" 
        src="{{ asset('bundles/app/js/search.js')}}">
</script>

<script type="text/javascript" 
        src="{{ asset('bundles/app/js/play_list.js')}}">
</script>

<script type="text/javascript" 
        src="{{ asset('bundles/app/js/playlist.js')}}">
</script>

<script type="text/javascript" 
        src="{{ asset('bundles/app/js/track.js')}}">
</script>

<script type="text/javascript"
        src="{{ asset('bundles/app/js/lockr.min.js')}}">    
</script>


<script type="text/javascript">
    Routes.setGif("{{ asset('progress-bar.gif')}}");
    Routes.setTracksByPlaylist("{{ path('ajax_get_tracks_by_tracklist')}}");
    Routes.setTracksByFuente("{{ path('ajax_get_tracks_by_fuente')}}");
    Routes.setSavePlaylist("{{ path('ajax_save_playlist')}}");
    Routes.setAddTrackToPlaylist("{{ path('ajax_add_track_playlist')}}");
    Routes.setPlaylist("{{ path('ajax_get_playlists')}}");                                        
    Routes.setGenerateM3U("{{ path('ajax_playlist_generate_m3u')}}");
    Routes.setTransferUsb("{{ path('ajax_copy_tracklist_usb')}}");
    Routes.setInfoDirRoot("{{ path('get_info_dir_root') }}");
    Routes.setThumb("{{ path('analize_files') }}");
    Routes.setImportFiles("{{ path('import_files_analized') }}"); 
    Routes.setThumbnailsNews("{{ path('get_thumbnails_by_artista') }}");   
    Routes.setThumbnailsByArtista("{{ path('save_thumbnails_by_artista') }}");       
    Routes.setTracksRelated("{{ path('ajax_tracks_related')}}");
    Routes.setTrackData("{{ path('ajax_track_data')}}");
    Routes.setTrackRate("{{ path('ajax_track_rate')}}");
    Routes.setTracksByArtista("{{ path('ajax_get_tracks_by_artista')}}");
    Routes.setFilesByDir("{{ path('ajax_get_files_by_dir')}}");
    Routes.setDirDestination("{{ path('ajax_get_dir_destination')}}");
    Routes.setTransferUsb("{{ path('ajax_copy_tracklist_usb')}}");
    Routes.setTimeFiles("{{ path('get_time_files')}}");        
</script>    



<script type="text/javascript">
    var tracksByGenero = [];  
    var playlistEnquee = new PlaylistEnquee("now");    

    $( function () {
        //Lockr.flush();
        $('#hora').timer({
            duration: '5s',
            callback: function() {
                var vlc = document.getElementById("vlc");
                if( typeof vlc !== "undefined" ){
                    if( vlc !==  null){
                        var state = vlc.input.state;                        
                        if( vlc.playlist.isPlaying ){
                            var media = vlc.mediaDescription.title;                                                
                            
                            $('title').html( media );
                            
                            $('.contenido h2').html( media );

                            $('input[name=track_current]').attr("value", media );
                            
                            $('.tracks-by-genero ul li').each(function ( key, value ) {
                                var titulo = $( this ).find('input[name=titulo]').val(); 
                                if( titulo == media){
                                    var volume = $( this ).find('i');
                                    if (!volume.hasClass( "fa-volume-up" ))
                                    {                            
                                        $( this ).css("background-color", "#2E9AFE");
                                        
                                    }
                                    
                                }

                            });
                        }
                    }
                }
                
                
            },
            repeat: true //repeatedly calls the callback you specify
        });


        $('.player').hide();

        var registros = true;

        $('.favorites_panel').hide();
        
        $('.topTracks_panel').hide();

        $('.importar').hide();


$('.sliders ul').bxSlider({
  minSlides: 4,
  maxSlides: 4,
  slideWidth: 770,  
  slideMargin: 10,
  autoHover: true,
  auto: true
  
});

//Lockr.flush();
var enqueePlay = Lockr.getAll();

$('.tracks-enquee').hide();
if( typeof enqueePlay !== "undefined"){
    if( enqueePlay.length > 0){
        if( enqueePlay[0].length > 0){
            var header = $('#template-tracks-enquee').html();  
            var templateHeader = Handlebars.compile(header);            
            var templateContent = templateHeader(enqueePlay[0].reverse());                                        
            $('.content_right').html(templateContent);
        }
    }
}

$( window ).on('beforeunload', function(){
  
    var enqueePlay = Lockr.getAll();

    if( typeof enqueePlay !== "undefined"){
        if ( enqueePlay[0].length > 0 ) {
          console.log("beforeUnload event!");  
          if( confirm("Quieres guardar la cola de reproduccion")){
            Lockr.flush();
            console.log("no seas fooro!");  
          }
        }    
    }
    
    
});


});

</script>

{% include 'AppBundle:Home:_templating_java.html.twig' %}


{% endblock %}
