<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}BIMPG{% endblock %}</title>

        {% block stylesheets %}
            
            {% stylesheets output='assets/compiled/frontend.css' filter='cssrewrite'
                'bundles/app/css/bootstrap.min.css'
                'bundles/app/css/sb-admin.css'
                'bundles/app/css/front.css'
                'bundles/app/css/font-awesome.min.css'
                'bundles/app/js/plugins/jquery-ui-1.11.1/jquery-ui.min.css'
                'bundles/app/js/plugins/jquery-ui-1.11.1/jquery-ui.theme.css'
                'bundles/app/js/plugins/jquery-ui-1.11.1/jquery-ui.structure.min.css'
                'bundles/app/js/plugins/jsTree/themes/default/style.min.css'
                'bundles/app/js/plugins/jqTimeto/timeTo.css'

                
            %}
                <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />                
            {% endstylesheets %}
        {% endblock %}


        {# javascripts... #}
        {% block javascripts %}            
            {% javascripts output='assets/compiled/front.js'      
                'bundles/app/js/jquery-2.2.3.min.js'
                'bundles/app/js/plugins/jquery-ui-1.11.1/jquery-ui.min.js'                            
                'bundles/app/js/bootstrap.min.js'                                                         
                'bundles/app/js/routes.js'       
                'bundles/app/js/jquery.blockUI.js'                
                'bundles/app/js/handlebars-v4.0.5.js'                  
                'bundles/app/js/plugins/jqTimeto/jquery.time-to.min.js'                                                                    
            %}


            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
                    
        {% endblock %}
        
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>
    <body>
        <div id="contenedor">
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">                
                <div class="navbar-header col-md-2">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('homepage')}}">BIMG</a>
                </div>

                <div class="navbar-header col-md-4">
                    {% block button_search %} {% endblock %}                        
                </div>                

                <ul class="nav navbar-right top-nav">  
                    <li>
                        <p id="hora">hora</p>
                    </li>                                              
                    
                    
                    <li>                                
                        <button type="button" style="margin-top: 12px" class="btn btn-default" data-toggle="modal" data-target="#library">
                        <span aria-hidden="true" class="glyphicon glyphicon-refresh">
                        Biblioteca
                        </button>
                    </li>
                    
                        
                    </li>
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ app.user  }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('fos_user_profile_edit')}}"><i class="fa fa-fw fa-user"></i> Perfil</a>
                            </li>
                                                        
                            <li class="divider"></li>
                            <li>
                                <a href="{{ path('fos_user_security_logout')}}"><i class="fa fa-fw fa-power-off"></i> Salir</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
                

            <div id="page-wrapper">

                <div class="container-fluid">
                    <div class="row mainContent">
                        <div class="col-lg-2"> 
                            {% block sidebar %} {% endblock %}  
                        </div>    

                        <div class="col-lg-8 content">
                            {% block main %} {% endblock %}  
                        </div>

                        <div class="col-lg-2 content_right"> 
                            {% block aside %} {% endblock %}                      
                        </div>

                        <div class="modal fade" id="library" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                          <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Acutalizar Biliblioteca</h4>
                              </div>
                              <div class="modal-body content-import">   
                                     <div class="row">
                                        <div class="col-md-6">
                                            <p><a href="#">Elegir la carpeta fuente</a></p>
                                        </div>
                                     </div>                                  

                                     <div class="row directorios-source">
                                        <div class="col-md-3">
                                            <select name="source" multiple="multiple" style="height: 200px;text-align:left;">  
                                              {% for dir in dirRoot %}
                                                    <option value="{{ dir.path }}" class="glyphicon glyphicon-folder-close">{{ dir.nombre }}</option>
                                              {% endfor %}
                                            </select>       
                                        </div>    
                                     </div>
                                                                                               
                              </div>
                              <div class="modal-footer">
                                <button class='btn btn-primary importar' type='button'>Importar</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>                                
                              </div>
                            </div>
                          </div>
                        </div>                    
                    </div>
                </div>
            </div>  
        </div>    
    </body>
</html>
