{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %} Sistema Gestion - Confirmar{% endblock title %}

{% block fos_user_content %}
    <body>
        <div class="container-fluid">    
            
            <div class="row-fluid">    
                <div class="col-md-12" style='background-color: greenyellow;'>  LOGO </div> 
            </div>
            <div class="row-fluid">                   
                <div class="col-md-6" style='background-color: greenyellow;'>  
                    <div class="wrapper container-fluid">                    
                        <div class="login-body redondeame">
                            <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
                            {% if app.session is not empty %}
                                {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
                                {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>{% endif %}
                                {% endif %}
                        </div>
                        <div class="login">
                            <a href='{{ path('fos_user_security_login')}}'> Logueate </a>    
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>


{% endblock fos_user_content %}
