{% extends "UsuarioBundle::layout.html.twig" %}

{% block head %}
    {{parent()}}
{% endblock %}

{% block fos_user_content %}
    <body>
        <div class="container-fluid">                 
            <div class="row-fluid">   
                <div class="col-md-3">  </div>
                <div class="col-md-6">  
                    <div class="wrapper container-fluid">                    
                        <div class="login-body redondeame">
                            <h2 class="page-header"><i class="glyphicon glyphicon-user "></i> Registrese</h2>
                            
                            {% include "UsuarioBundle:Registration:register_content.html.twig" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
{% endblock fos_user_content %}
