<div class="col-lg-6">
        <div class="row portadas">
            <div class="col-lg-12">                                            
                <div class="box box-solid bg-light-blue">                
                    <div class="box-body">
                        <div class="row">
                            <div class="col-lg-12">                                            
                            {% for fuente in fuentes%}
                                {% if loop.index < 9 %}
                                    <img src="{{ asset('portada') ~'/'~ fuente.portada }}" width="100" height="80">
                                {% endif %}
                            {% endfor %}
                                
                            </div>
                        </div>
                        
                    </div>
                </div>                
            </div>
        </div>

            

        <div class="row">

            <div class="filtrosAdvanced">

                {% if filtrosAdvanced is defined %}     
                    {% if filtrosAdvanced | length > 0 %}
                    <ol>
                        {% for track in filtrosAdvanced %}
                            <li>{{ track.titulo }}</li>
                        {% endfor %}
                    </ol>
                                           
                    {% endif %}
                
                {% endif %}
            </div>    
        </div>


    </div>
</div>

{% block body_content %}
    <div class="row player">
        <div class="col-lg-12">                                            
            <embed type="application/x-vlc-plugin" name="videotest"  pluginspage="http://www.videolan.org" version="VideoLAN.VLCPlugin.2" width="800" height="600;" id="vlc" toolbar="true" windowless="true" bgcolor="blue" tiltle="Cerati"/>
        </div>
    </div>

{% endblock %}  


    
{% endblock %}


{% block javascripts %}

{{ parent() }}        
<script type="text/javascript">
    
$(document).ready(function () {
    $('input[type=text]').val('');
    $(".fa-play-circle").click(function () {
        padre = $(this).parent().find('input').val();
        getTracks(padre);
    });  

    $("#newList").click(function () {
            $('.searchTracks').show();
            $('.lastTrackListLayer').remove();
            $('button').attr('disabled', true);
            var title = "Nueva Lista";
            var htmlNewList = "<div class='box lastTrackListLayer'><div class='box-header'><h3 class='box-title'>Nueva Lista</h3></div>";
            var divTabla = "<div class='box-body table-responsive no-padding'><table class='table table-hover'><tbody><tr><th>ID</th><th>Track</th><th>Acciones</th></tr></tbody></table></div>";
            $('.tracklist').append(htmlNewList);
            $('.tracklist').append(divTabla);

    });

});


function getTracks(padre) {
                    $.ajax({
                        url: '{{ path('ajax_get_tracks_by_tracklist')}}',
                        dataType: 'html',
                        method: 'POST',
                        data: {
                            padre: padre
                        },
                        success: function (response) {
                            $('.infobox').html(response);

                            //getDataByTrack();
                        }
                    });
                }

</script>



<script type="text/javascript">
    

    var vlc = $('#vlc');
    

    {% if filtrosAdvanced is defined %}     
        {% if filtrosAdvanced | length > 0 %}    
            {% for track in filtrosAdvanced %}
                vlc1.playlist.clear();   
                vlc1.playlist.add("file:///{{ track.path }}");                
                vlc1.playlist.play();   
            {% endfor %}
        {% else %}
                
        {% endif %} 
    {% endif %}  





    $( function () {
              
    
        $( "#searchAdvanced" ).submit(function( event ) {   
            var filtros = new Array();  
            
            $('.filtro').each(function ( key, value ) {
                var artista = new Array();

                artista.push('artista');
                valor = $(this).find('select.artista option:selected').val();                                                                     
                artista.push(valor);
                filtros.push(artista);                                                                
                 
                fechaPublicacion = $(this).find('input.publicacion').val();    
                var fuente = new Array();
                fuente.push('publicacion');                 
                fuente.push(fechaPublicacion);

                filtros.push(fuente);

                var track = new Array();
                track.push('titulo');
                titulo = $(this).find('input.valor').val();                 
                track.push(titulo);

                track.push('genero');
                selectGenero = $(this).find('select.genero option:selected').val();                  
                track.push(selectGenero);
                
                
                filtros.push(track);

                
                /*DEMAS FILTROS*/
                
                
            });                

            var data = JSON.stringify(filtros);        

            console.log(data);                 
            
            event.preventDefault();
            $.ajax({
                method: 'GET',
                url: '{{ path('ajax_search_advanced')}}',
                dataType : 'html',
                data: 'search='+data,
                success : function( data ){                
                    $('.infobox').html( data );                            
                }
            });
        });

        $( ".searchYoutube" ).click(function( event ) {   
                              
            var data = JSON.stringify($( this ).serializeArray());
            
            event.preventDefault();
            $.ajax({
                method: 'GET',
                url: '{{ path('ajax_search_youtube')}}',
                dataType : 'html',
                data: 'search='+data,
                success : function( data ){                
                    $('.infobox').html( data );                            
                }
            });
        });


        

        $( ".list-group" ).draggable();
        $( ".list-group-item" ).draggable();
        $( ".playlistNow" ).draggable();    
        
    });


</script>