<div class="tracklist list-group">
    <div class="auto input-group input-group-sm" >

    </div>
    {% if  tracklist is defined %}
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">
                    {{ tracklist.nombre }}                                        
                </h3>

                <h2 class="box-title">
                    {% for lastTrack in tracklist.tracks %}
                        {% if lastTrack.portada is not null %}
                            <img src="{{ asset('portada') ~'/'~ lastTrack.portada }}" width="71px;">
                        {% endif %}    
                    {% endfor %}
                </h2>

            </div><!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th>ID</th>
                            <th>Track</th>
                            <th>Acciones</th>                                                                                       
                        </tr>
                        {% for tema in tracklist.tracks %}
                            <tr>
                                <td>{{ tema.id }}  </td>
                                <td style="font-family: 'Ubuntu', sans-serif;color:#819FF7;">
                                    <input type="hidden" value="{{ tema.path }}" id="tema{{ tema.id }}" name="tema{{ tema.id }}">
                                    {{ tema.titulo }} {{ tema.duracion | date('h:i:s')}} 
                                </td>
                                <td>
                                    <i class="fa fa-play-circle-o track"></i> 
                                    <i class="fa fa-minus-circle"></i>
                                </td>

                            </tr>   
                        {% endfor %}

                    </tbody>
                    <tfooter>    
                        <tr>
                            <td>
                                <a class="btn btn-info"><i class="fa fa-play playLastList"></i> </a>  </td>
                            <td>                                                                               

                                <button class="btn btn-info"><i class="fa fa-list-ol"></i><i class="fa fa-plus newList"></i> </button>
                            </td>            
                            
                            <td><button class="btn  btn-info usb fa fa-download pull-right" value="{{ tracklist.id }}">USB</button></td>

                            <td><button class="btn btn-info fa-plug pull-right" value="{{ tracklist.id }}">USB2</button></td>
                        </tr>
                    </tfooter>
                </table>
            </div><!-- /.box-body -->
        </div> 
    {% endif %}            

</div>            


<script>
    $(document).ready(function () {
        blockeo = false;
        var vlc =  document.getElementById('vlc');
    {% for track in tracklist.tracks%}    
        var file = "file:////{{ track.path }}";

        vlc.playlist.add(file);
    {% endfor %}          

        //vlc.playlist.play();
        


        $('.track').click(function () {            
            vlc.playlist.stop();
            vlc.playlist.items.clear();            
            track = $(this).parent().parent().find('input').val();

            link = "<a href='#' class='list-group-item active'><i class='fa fa-volume-up active'></i></a>";
            
            vlc.playlist.add("file:///"+track);
            vlc.playlist.play();

        });

        $('.usb').click(function () {
            id = $(this).attr("value");            
            copiarUsb(id);
        });




    });

    function copiarUsb(playlistID) {
        $.ajax({
            url: '{{ path('ajax_copy_tracklist_usb')}}',
            dataType: 'json',
            method: 'POST',
            async: false,
            data: {
                playlistID: playlistID
            },
            success: function (response) {
                alert(response.message);
                //getDataByTrack();
            }
        });

    }
</script>     