$( "#searchAdvanced" ).submit(function( event ) {   
            var filtros = new Array();  
            
            $('.filtro').each(function ( key, value ) {
                var artista = new Array();

                artista.push('artista');
                valor = $(this).find('select.artista option:selected').val();                                                                     
                artista.push(valor);
                filtros.push(artista);                                                                

                var track = new Array();
                track.push('titulo');
                titulo = $(this).find('input.valor').val();                 
                track.push(titulo);

                var genero = new Array();
                genero.push('genero');
                selectGenero = $(this).find('select.genero option:selected').val();                  
                genero.push(selectGenero);                                
                filtros.push(genero);

                fechaPublicacion = $(this).find('input.publicacion').val();                    
                var fechaPub= new Array();
                fechaPub.push('fechaPublicacion');                 
                fechaPub.push(fechaPublicacion);
                filtros.push(fechaPub);   

                fechaGrab = $(this).find('input.grabacion').val();                    
                var fechaGrabacion= new Array();
                fechaGrabacion.push('fechaGrabacion');                 
                fechaGrabacion.push(fechaGrab);
                filtros.push(fechaGrabacion); 

                selectRegistros = $(this).find('select.registros option:selected').val();     
                var registros= new Array();
                registros.push('registros');                 
                registros.push(selectRegistros);
                filtros.push(registros);                
                /*DEMAS FILTROS*/
                
                
            });                

        var data = JSON.stringify(filtros);            

        event.preventDefault();
        $.ajax({
            method: 'GET',
            url: '{{ path('ajax_search_advanced')}}',
            dataType : 'html',
            data: 'search='+data,
            success : function( data ){                
                $('.infobox').html( data );                            
            }
        });
});