<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <form class="form-inline" id="searchAdvanced" method="post" >
                    <div class="panel-body filters">

                        
                        {% set prototipo_avanzado %}
                            {% spaceless %}
                                <script type="text/javascript">
                                    jQuery(document).ready(function () {
                                        $('.searchButton').hide();
                                        $('.searchAdvanced').hide();
                                        $('.registros').hide();

                                        $('#{{ formSearchAdvanced.filtro.vars.prototype.track.vars.id }}').hide();

                                        $('#{{ formSearchAdvanced.filtro.vars.prototype.fuente.vars.id }}').hide();

                                        $('#{{ formSearchAdvanced.filtro.vars.prototype.genero.vars.id }}').hide();

                                        $('#{{ formSearchAdvanced.filtro.vars.prototype.formato.vars.id }}').hide();

                                        $('#{{ formSearchAdvanced.filtro.vars.prototype.year.vars.id }}').hide();

                                        $('#{{ formSearchAdvanced.filtro.vars.prototype.fechaGrabacion.vars.id }}').hide();

                                        $('#{{ formSearchAdvanced.filtro.vars.prototype.fechaPublicacion.vars.id }}').hide();

                                        $('#{{ formSearchAdvanced.filtro.vars.prototype.operador.vars.id }}').hide();

                                        $('#{{ formSearchAdvanced.filtro.vars.prototype.artista.vars.id }}').hide();

                                        $('#{{ formSearchAdvanced.filtro.vars.prototype.valor.vars.id }}').hide();                            

                                        $('#{{ formSearchAdvanced.filtro.vars.prototype.target.vars.id }}').change(function(){
                                            var target = $(this).val();
                                            switch ( target ) {
                                                case 'track': 
                                                $('#{{ formSearchAdvanced.filtro.vars.prototype.track.vars.id }}').show();
                                                break;

                                                case 'fuente': 
                                                $('#{{ formSearchAdvanced.filtro.vars.prototype.fuente.vars.id }}').show();
                                                break;

                                            }
                                        });

                                        $('#{{ formSearchAdvanced.filtro.vars.prototype.track.vars.id }}').change(function(){
                                            var track = $(this).val();

                                            //buttonDelete = "<i class='glyphicon glyphicon-trash'></i>";
                                            buttonDelete = "<span class='glyphicon glyphicon-trash' style='color:white;' aria-hidden='true'><a href='#'>ELim</a></span>";

                                            switch ( track ) {
                                                case 'genero': 
                                                    $('#{{ formSearchAdvanced.filtro.vars.prototype.genero.vars.id }}').show();                                                
                                                    $('.searchButton').show();
                                                    //$('.searchAdvanced').hide();
                                                    
                                                    $('.filtro').append(buttonDelete);
                                                break;

                                                case 'formato': 
                                                    $('#{{ formSearchAdvanced.filtro.vars.prototype.formato.vars.id }}').show();
                                                    $('.searchButton').show();
                                                break;  

                                                case 'titulo': 
                                                    $('#{{ formSearchAdvanced.filtro.vars.prototype.valor.vars.id }}').show();
                                                    $('.searchButton').show();
                                                break;      

                                                case 'artista':                                                 
                                                    $('#{{ formSearchAdvanced.filtro.vars.prototype.artista.vars.id }}').show();
                                                    $("#{{ formSearchAdvanced.filtro.vars.prototype.artista.vars.id }}").chosen({disable_search_threshold: 10});
                                                    $('.searchButton').show();
                                                    //$('.searchAdvanced').hide();
                                                break;        

                                                case 'vq': 
                                                    $('#{{ formSearchAdvanced.filtro.vars.prototype.vq.vars.id }}').show();
                                                    $('.searchButton').show();
                                                    //$('.searchAdvanced').hide();
                                                break;   
                                                case 'aq': 
                                                    $('#{{ formSearchAdvanced.filtro.vars.prototype.aq.vars.id }}').show();
                                                    $('.searchButton').show();
                                                    //$('.searchAdvanced').hide();
                                                break;              


                                            }

                                        });
                                        
                                        

                                    $('#{{ formSearchAdvanced.filtro.vars.prototype.fuente.vars.id }}').change(function(){
                                        var fuente = $(this).val();
                                        switch ( fuente ) {                                            

                                            case 'fechaGrabacion': 
                                            $('#{{ formSearchAdvanced.filtro.vars.prototype.fechaGrabacion.vars.id }}').show();
                                            $('.searchButton').show();
                                            break;  

                                            case 'fechaPublicacion': 
                                            $('#{{ formSearchAdvanced.filtro.vars.prototype.fechaPublicacion.vars.id }}').show();
                                            $('.searchButton').show();
                                            break;   

                                            case 'year': 
                                            $('#{{ formSearchAdvanced.filtro.vars.prototype.year.vars.id }}').show();
                                            $('.searchButton').show();
                                            break;           

                                        }

                                    });


                                    $('.genero').change(function(){
                                       $('.registros').show();    
                                       registros = true; 
                                    });

                                    $('.artista').change(function(){
                                       $('.registros').show();  
                                    });

                                    $('.formato').change(function(){
                                       $('.registros').show();  
                                    });

                                    $('.registros').change(function(){
                                       $('.searchAdvanced').show();
                                       
                                    });
        
                                

                                    $.datepicker.regional['es'] = {
                                       closeText: 'Cerrar',
                                       prevText: '<Ant',
                                       nextText: 'Sig>',
                                       currentText: 'Hoy',
                                       monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                                       monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                                       dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                                       dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
                                       dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
                                       weekHeader: 'Sm',
                                       dateFormat: 'yy-mm-dd',
                                       firstDay: 1,
                                       isRTL: false,
                                       showMonthAfterYear: false,
                                       yearSuffix: ''
                                    };

                                    $.datepicker.setDefaults($.datepicker.regional['es']);

                                    $('.date').datepicker({
                                        changeYear: true,
                                        yearRange: '1960:' + new Date().getFullYear()
                                    });


                                    })
                                </script> 

                            {% endspaceless %}
                            <div class="row">                                                        
                                <div class="col-md-12 filtro">                                                                                  
                                    
                                    {{ form_widget(formSearchAdvanced.filtro.vars.prototype.target)}}

                                    {{ form_widget(formSearchAdvanced.filtro.vars.prototype.track)}}   

                                    {{ form_widget(formSearchAdvanced.filtro.vars.prototype.artista)}}   

                                    {{ form_widget(formSearchAdvanced.filtro.vars.prototype.genero)}}   

                                    {{ form_widget(formSearchAdvanced.filtro.vars.prototype.formato)}}   

                                    {{ form_widget(formSearchAdvanced.filtro.vars.prototype.fechaGrabacion)}}   

                                    {{ form_widget(formSearchAdvanced.filtro.vars.prototype.fechaPublicacion)}}   

                                    {{ form_widget(formSearchAdvanced.filtro.vars.prototype.fuente)}}   

                                    {{ form_widget(formSearchAdvanced.filtro.vars.prototype.operador)}}   

                                    {{ form_widget(formSearchAdvanced.filtro.vars.prototype.valor)}}   

                                    {{ form_widget(formSearchAdvanced.filtro.vars.prototype.registers)}}
                                    

                                </div>                                                                                                                                                                                                                                  
                            </div>
                        {% endset %}

                        <div class="form-group">
                            <a href="#" id="btnAddFilter" data-prototype="{{ prototipo_avanzado | e }}" class="btn btn-mini" ><i class="glyphicon glyphicon-plus-sign"></i>
                            </a>
                        </div> 

                        <div class="row searchButton"> 
                            <div class="col-md-12">                            
                                <button type="submit" class="btn btn-primary btn-lg btn-block searchAdvanced"><i class="glyphicon glyphicon-search"></i></button>                                        
                            </div>
                        </div>                               
                    </div>                
                </form>
            </div>            