{% block cd_autocomplete_track_widget %}

{% spaceless %}

<script type="text/javascript">
  Routes.setTracksRelated("{{ path(route_name)}}");
                   
  $( function() {       
    //$('#suggest_{{ id }}').autocomplete({
    $('#suggest_{{ id }}').autocomplete({
	    autoFocus: true,
	    minLength: 3,
	    source: function (request, response) {
	        $.ajax({
	            url: Routes.getTracksRelated(),
	            type: "POST",
	            data: {
	                term: request.term,
	                place: "pc",
           			class: "{{class}}",
           			property: "{{property}}",
           			search_method: "{{search_method}}"
	            },
	            success: function (data) {
	                response($.map(JSON.parse(data), function (items) {
	                    return {
	                         id: items.id,
		                     thumb: items.thumb,
		                     value: items.value,
		                     label: items.label,
		                     artista: items.artista,
	                    }
	                }));
	            },
	            error: function (error) {}
	        });
	    },
	    focus: function (event, ui) {
	        return false;
	    }
	})
	.data("ui-autocomplete")._renderItem = function (ul, item) {      
      
      return $("<li></li>").data("ui-autocomplete-item", item).append("<a><img src='" + item.thumb + "' alt='no photo' width='50' height='50'/></a>" + item.label).appendTo(ul);
  	};
});	

</script>
    <style>
      .ui-autocomplete-loading {
       background: white url('{{asset('ajax-loader.gif')}}') right center no-repeat;
     }
   </style>
   {{ block('hidden_widget') }}

   {% set id = 'suggest_'~id %}
   {% set full_name = 'suggest_'~full_name %}
   {% set value = suggest_value %}    


   <input type="text" {{ block('widget_attributes') }} {% if label is not empty %}value="{{ value }}" {% endif %}/>

   {% endspaceless %}

   {% endblock %}
   {# --------------------------------------------------------------------------------------------------------------------------------------------- #}

   {% macro widget_prototype(widget, remove_text) %}
   {% if widget.get('prototype') %}
   {% set form = widget.get('prototype') %}
   {% set name = widget.get('prototype').get('name') %}
   {% else %}
   {% set form = widget %}
   {% set name = widget.get('full_name') %}
   {% endif %}

   <div data-content="{{ name }}">
    <a class="btn-remove" data-related="{{ name }}">{{ remove_text }}</a>
    {{ form_widget(form) }}
  </div>
  {% endmacro %}  