
{% block cd_autocomplete_track_widget %}

{% spaceless %}  


<script type="text/javascript">
  Routes.setAjaxDefault("{{ path(route_name)}}");
  Search.setClassName("{{class}}");
  Search.setProperty("{{property}}");
  Search.setMethod("{{search_method}}");
                  
  var hasTracklist = false;
  var trackList = new Array();
  var trackByYoutube = new Array();
  var tracksLastPlay = {};
  var placesource;

  $(function() {   
    
    $('#suggest_{{ id }}').autocomplete({
     autoFocus: true,
     minLength: 5,
     source: function( request, response ) {
      var source = $('input[name=source]');
      
      placesource = search(source);
      
      sfBIMG.searchType( this.term, placesource, response );
      
     }, 
     focus: function() {
        // prevent value inserted on focus
        return false;
     },    
     select: function( event, ui ){   
      switch( placesource ){
        case 'youtube':
          getResultsYoutubeByAjax( ui.item.title, placesource );                                          
          
          break;
        case 'pc':                       
          sourceTemplateYoutube = $('#template-track-pc').html();  
          templateYoutube = Handlebars.compile(sourceTemplateYoutube); 
          template = templateYoutube(ui.item);          
          $('.contenido').html(template);  
          $('.content-sliders').remove();
                 
          break;
      }             
      
     }

  })
    .data("ui-autocomplete")._renderItem = function (ul, item) {      
      
      return $("<li></li>").data("ui-autocomplete-item", item).append("<a><img src='" + item.thumb + "' alt='no photo' width='50' height='50'/></a>" + item.title ).appendTo(ul);
  };

});



</script>
    <style>
      .ui-autocomplete-loading {
       background: white url('{{asset('ajax-loader.gif')}}') right center no-repeat;
     }
   </style>
   {{ block('hidden_widget') }}

   {% set id = 'suggest_'~id %}
   {% set full_name = 'suggest_'~full_name %}
   {% set url = suggest_value %}    


   <input type="text" {{ block('widget_attributes') }} {% if label is not empty %}value="{{ url }}" {% endif %}/>

   {% endspaceless %}

   {% endblock %}
   {# --------------------------------------------------------------------------------------------------------------------------------------------- #}

   {% macro widget_prototype(widget, remove_text) %}
   {% if widget.get('prototype') %}
   {% set form = widget.get('prototype') %}
   {% set name = widget.get('prototype').get('name') %}
   {% else %}
   {% set form = widget %}
   {% set name = widget.get('full_name') %}
   {% endif %}

   <div data-content="{{ name }}">
    <a class="btn-remove" data-related="{{ name }}">{{ remove_text }}</a>
    {{ form_widget(form) }}
  </div>
  {% endmacro %}

 
