{% extends "ThemeBundle:Bootstrap:layout_base.html.twig" %}


{% trans_default_domain 'FOSUserBundle' %}

{% block contenido %}

{% block fos_user_content %}
{% include "UsuarioBundle:ChangePassword:changePassword_content.html.twig" %}
{% endblock fos_user_content %}

{% endblock contenido %}