<div class="modal fade" id="library-import" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Cambiar Thumbnail</h4>
      </div>

    <div class="modal-body">            
      <h3>{{ artista }} </h3>

      <div class="sliderTrackFavorit">
              <form name="form-thumbnail-artista" method="POST">
                <ul class="list-inline thumbnails">
                  {% for thumb in thumbs %}                                          
                  {% if loop.index <= 8 %}                                                                      
                  <li class="list-group-item">
                    <img src="{{ thumb.thumb }}" width="196" height="110"/>  
                    <p>
                      <input type="checkbox" name="thumb">
                      <input type="hidden" name="thumbnail" value="{{ thumb.thumb }}">
                      <input type="hidden" name="artista" value="{{ artista | lower }}">
                    </p>                        
                  </li>                                                
                  {% endif %}                 
                  {% endfor %}
                </ul> 

              </form>
      </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary guardar_thumbnail">Guardar</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
</div><!-- /.modal -->