
{% if artista.tracks | length > 0 %}

<div>	
	<ul class="tracks-by-artista">
		<li class="list-group-item playlist-info">{{ artista.nombre }}- <strong>00:01:40:00 </strong></li>
		{% for track in artista.tracks %}				
            <li class="list-group-item track"> 			                         
            	<input type="hidden" value="{{ track.path }}" id="path" name="path">
            	<input type="hidden" value="{{ track.nombre_archivo }}" id="nombre_archivo" name="nombre_archivo">
            	
            		<!--<input type="hidden" value="{#{{ tracklist.id }}#}"  id="playlistParent" name="playlistParent">-->                              							   
      		{{ track.titulo }}								
			</li>
			
		{% endfor %}
		<li class="list-group-item playlist-info">
			<button class="btn btn-default playAll">
				<i class="fa fa-play-circle-o" title="Reproducir Todos"></i>
			</button>
			<button class="btn btn-default">
				<i class="fa fa-random" title="Aleatorio"></i>				
			</button>
			
			<button class="btn btn-default">
				<i class="fa fa-download" title="Descargar"></i>	
			</button>
		</li>
	</ol>

	
</div>



<div class='playlistNow'>
	<h2>Nueva Playlist</h2>
	<form class="form-inline" id="playlist" method="get">
		<ul class='list-group' style='background-color:red;'>	
						
		</ul>
		<div class="form-group">
			<input type='text' name='listnew' id='listnew' placeholder='Nombre'>
			<button type="button" name="save_playlist" id="save_playlist"><i class="glyphicon glyphicon-floppy-disk"></i></button>
		</div>
	</form>
</div>


{% else %}
	<div class="alert alert-info alert-dismissable">
        <i class="fa fa-info"></i>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <b>Alert!</b> No hay resultados
    </div>
{% endif %}



{% spaceless %}
    
<script type="text/javascript" src="{{ asset('bundles/app/js/playlists.js')}}">
</script>    

         

{% endspaceless %}






