{% extends '::base.html.twig' %}

{% block content -%}
    <h1>Artista</h1>

    {{ form(edit_form) }}

    <ul class="record_actions">
	    <li>
	        <a href="{{ path('artista') }}">
	            Back to the list
	        </a>
	    </li>    
	</ul>
{% endblock %}
