{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/css/dataTables.bootstrap.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}


{% block content -%}

    <div class="row">
        {% for flashMessage in app.session.flashbag.get('ok') %}                                                
            <div class="alert alert-success alert-dismissable">
                <i class="fa fa-check"></i>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <b>OK</b> {{ flashMessage }}
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="table-toolbar">
                <div class="btn-group">
                    <a href="{{ path('artista_new')}}"><button class="btn btn-success"> <i class="fa fa-plus"></i><i class="icon-plus icon-white"></i></button></a>
                </div>                                                                                                            


            </div>

        </div>
    </div>


    {% set entitiesCount  = entities |length %} 
    <div class="row">
        {% if entitiesCount > 0 %}

            <div class="col-lg-6">                

                <div class="table-responsive">

                    <table class="table table-hover">

                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                
                            </tr>
                        </thead>
                        <tbody>

                            {% for entity in entities %}
                                <tr>
                                    <td><a href="{{ path('artista_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                                    <td>{{ entity.nombre }}</td>
                                    <td>
                                        <div class="pull-right">
                                            <a href="{{ path('artista_show', { 'id': entity.id }) }}" class="btn btn-default"><i class="glyphicon glyphicon-book"></i></a>
                                        
                                                <a href="{{ path('artista_edit', { 'id': entity.id }) }}" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i></a>
                                        </div>                                                                                                                                    
                                    </td>
                                </tr>
                            {% endfor %}

                        </tbody>

                    </table>

                </div>    



            {% else %}
                <div class="alert alert-info redondeame margin-top-20">
                    <a class="close" href="#" data-dismiss="alert">×</a>

                    <p>Sin Resultados</p>
                </div>
            {% endif %}         
        </div>


    </div>                        
{% endblock %}   



