{% extends '::base.html.twig' %}

{% block content -%}
    <div class="row">
        <form class="form-horizontal form-column" id="track-form" action="{{ path('artista_create')}}" method="post" {{ form_enctype(form) }}>    

            <div class="col-lg-3 col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-play-circle"></span>
                        Artista
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">                            
                                {{ form_row(form.nombre) }}                                                                  
                                {{ form_row(form.nombreCorto) }}                                                                  
                                {{ form_rest(form) }}                                                                  

                            </div>                                
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Guardar</button>  
                            <a href="{{ path('artista')}}" class="btn btn-default">Volver</a>
                        </div>

                    </div>     
                </div>
            </div>
        </form>

    </div>

{% endblock %}
