.import-success {
    background-color: #ccc;
    color: #3c763d;
}


.playlists_planel .panel-heading{
    background-color: #222;
    color: #fff;
}

.playlists-user{
    margin-left: -42px;
}

li.playlist-info{
	background-color: #222;
    color: #fff;	
}

.playlists-user a:link {
    color: #ccc;
    text-decoration: underline;
}

.playlists-user a:active {
    color: #ccc;    
    font-weight: bold;
}

/* visited link */
.playlists-user a:visited {
    color: #ccc;
}

/* mouse over link */
.playlists-user a:hover {
    color: red;
}
.sliders .alert-info {
    background-color: #ccc;
    border-color: #ccc;
    color: #fff;
}


.playlist-info-header, .playlist-info-header a.link{
	background-color: #222;
    color: #fff;		
}

.playlist-info-header a.active{
	background-color: #ccc;
    color: green;		
}

.playlist .badge{
	background-color: #ccc;
	color: #222;
}

.directorios-source .glyphicon-folder-close {
	display: block!important;
} 

.directorios-target .glyphicon-folder-close {
    display: block!important;
} 

.importar{
    background-color: #ccc;
    color: #222;
}