/*!
 * Start Bootstrap - SB Admin Bootstrap Admin Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */

body {
    margin-top: 100px;
    background-color: #222;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}



#wrapper {
    padding-left: 0;
}

.searchButton button{
    width: 79%;
}

.search{
    margin-top: 11px;
}

.form-inline input[type=text]{
    width: 100%;
}

.ul li{
    cursor: pointer;
}

.addFolder, .addFolder{
    cursor: pointer;
}

.fa-play-circle{
    cursor: pointer;
}

/*.tracks-by-genero ul li{
    background-color: #ECF6CE;
}*/


/*.panel{
    background-color: black;  
}*/

.borrar{
    background-color: #F5DA81;
}

.volver{
    background-color: #FE9A2E;
}

.renombrar{
    background-color: #DBA901;
}

.guardar{
    background-color: #f0ad4e;
}

.favorites_panel:hover {
    cursor: pointer;
}

.playerEmbeded{
    width: 100%;
    height: 713px;
}



/*.panel-default{
    border-color: #B55959;  
}*/

.container-fluid{
    margin-top: 23px;
}

a.list-group-item{
    color: #594747;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    //background-color: #f2d476;
    background-color: #fff;

}

.badge{
    background-color: #D2A825;
}


.list-group{
    border: solid 4px orange;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

i.glyphicon-ok{
  color:green;
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}


.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

label{
    font-family: 'Play', sans-serif;
    //color: #DBA901;
    color: #08088A;
}



.form-custom{
    font-family: 'PT Serif', serif;
    background-color: #ACD;
}

.exito{
    background-color: #BCF5A9;
}

.error{
    background-color: #F5A9A9;
}
.form-custom-holder{
    font-family: 'Play', sans-serif;
    background-color: grey;
}
.actions-menu {
  float: right;
}

.panel-yellow a:hover {
    color: #df8a13;
}

.nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: #3c8dbc;
