{% extends '::base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
<div class="page-header">
    {{ 'security.login.header'|trans|raw }}
</div>

{% if error %}
    <div class="alert alert-danger">
        {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
{% endif %}

<blockquote>
  
</blockquote>

<form action="{{ path('fos_user_security_check') }}" method="post" class="form-horizontal">
<fieldset>
    <div class="form-group">
        <label for="username" class="col-sm-3 control-label">Usuario</label>
        <div class="col-sm-9">
            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-3 control-label">Contraseña</label>
        <div class="col-sm-9">
            <input type="password" id="password" name="_password" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <div class="checkbox">
                <label for="remember_me">
                    Recuerdame&nbsp; <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                </label>
            </div>
        </div>
    </div>
    <div class="pull-right">
    	<p>
    		<a href="{{ path('fos_user_resetting_request') }}" class="btn btn-info btn-sm">Olvidaste la contraseña</a>
    		<a href="{{ path('fos_user_registration_register') }}" class="btn btn-primary btn-sm">Registrarse</a>
    	</p>
    </div>
</fieldset>
<div class="form-actions clearfix">
   
    <button type="submit" class="btn btn-primary btn-lg" name="login"><i class="icon-lock"></i> Ingresar</button>
</div>
</form>

{% endblock %}
