{% extends "UsuarioBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<body>
    {% block body_login %}


    <div class="container login">
        <div class="card card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% if error %}
                <div class="alert alert-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>                    
                {% endif %}
                <span id="reauth-email" class="reauth-email"></span>
                <input type="text" id="username" placeholder="Nombre de Usuario" class="form-control" placeholder="Contraseña" class="form-control" required autocomplete="off" name="_username" value="{{ last_username }}" required="required" />

                <input type="password" id="password" name="_password" required="required"  class="form-control"/>
                <div id="remember" class="checkbox">
                    <label for="remember_me">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        Recordame
                    </label>
                </div>
                <button class="btn btn-lg btn-warning btn-block" type="submit">Ingresar</button>
            </form><!-- /form -->
            <a href='{{ path('fos_user_registration_register') }}'>Registrate</a>
            <a href='{{ path('fos_user_resetting_request') }}'>Olvidaste tu contrasena</a>
        </div><!-- /card-container -->
    </div><!-- /container -->                                                                                                            
    {% endblock body_login %}
</body>  
{% endblock fos_user_content %}


