<div class="col-lg-3 col-xs-6">
    <div class="small-box bg-aqua">
        <div class="inner">
            <h3>
                Informes Modelo
            </h3>

            <ul>
                <li><a href="#">Obra Social OSDE</a></li>
                <li><a href="#">Swiss Medical</a></li>
                <li><a href="#">OMINT</a></li>
            </ul>

        </div>
        <div class="icon">
            <i class="ion ion-bag"></i>
        </div>
        <a href="#" class="small-box-footer">
            Ver todos <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>

</div>

<div class="col-lg-3 col-xs-6">
    <div class="small-box bg-green">
        <div class="inner">
            <h3>
                Ultimos Informes Registrados
            </h3>
            <p>
                <a href="#">Pepe </a>
            </p>
            <p>
                <a href="#">Juan </a>
            </p>

            <p>
                <a href="#">Pedro </a>
            </p>
        </div>
        <div class="icon">
            <i class="ion ion-stats-bars"></i>
        </div>
        <a href="#" class="small-box-footer">
            Ver todos <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
</div>

<div class="col-lg-3 col-xs-6">
    <div class="small-box bg-green">
        <div class="inner">
            <h3>
                Facturas pendientes
            </h3>
            <ul>
                <li><a href="#">OSDE: Pepito Febr 19</a></li>
                <li><a href="#">Swiss: Juan Marz 20</a></li>
                <li><a href="#">OMINT: Silvia Ene 23 </a></li>
            </ul>
        </div>
        <div class="icon">
            <i class="ion ion-stats-bars"></i>
        </div>
        <a href="#" class="small-box-footer">
            Ver todos <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>

</div>