{% extends '::base.html.twig' %}



{% block content -%}
    <div class="row">
        <div class="col-lg-6">
            
            <form class="form-horizontal form-column" id="track-form" action="{{ path('tracklist_update', { id: entity.id })}}" method="post" {{ form_enctype(form) }}>   
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Informacion
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        
                        <div class="tab-content">                                                            
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <span class="glyphicon glyphicon-play-circle"></span>
                                        Informacion
                                        
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-12">                            
                                                {{ form_row(form.nombre) }}                                                                  
                                                {{ form_row(form.descripcion) }}                                                                                                                     
                                            </div>

                                        </div>

                                    </div>

                                </div>                                                                                                                                                                                            
                            
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <i class="fa fa-youtube-play"></i>
                                        Tracks
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12">                            
                                                {{ form_widget(form.tracks) }}                                                                  
                                                {{ form_rest(form) }}
                                            </div>

                                        </div>

                                    </div>

                                </div>                                                    

                        </div>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a href="{{ path('track')}}" class="btn btn-default">Volver </a>
                    </div>

                </div>
        </div>

    </form>
</div>

{% endblock %}


{% block javascripts %}
    {% spaceless %}

        {{ parent() }}    


        <script src='{{asset('bundles/app/js/plugins/jquery-browser/jquery.browser.min.js')}}' type="text/javascript"></script>
        <script src='{{asset('bundles/app/js/plugins/asmSelect/js/jquery.asmselect.js')}}' type="text/javascript"></script>

        <script src='{{asset('bundles/app/js/plugins/chosen/chosen.jquery.js')}}' type="text/javascript"></script>

        <script src='{{asset('bundles/app/js/plugins/chosen/ImageSelect.jquery.js')}}' type="text/javascript"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                
                $("#{{ form.tracks.vars.id }}").chosen({
                    width:"100%",
                    html_template: '<img style="border:3px solid black;padding:0px;margin-right:4px" src="bundles/portada/no_image_available.jpg">'
                }); 
                
                
            });

        </script> 

    {% endspaceless %}
{% endblock %}                  
