{% extends '::base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/css/dataTables.bootstrap.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}


{% block content -%}
    <div class="row">
                    {% for flashMessage in app.session.flashbag.get('ok') %}                                                
                        <div class="alert alert-success alert-dismissable">
                                        <i class="fa fa-check"></i>
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        <b>OK</b> {{ flashMessage }}
                        </div>
                    {% endfor %}
    </div>
    
    <div class="row">

    <div class="col-md-12">

            <div class="table-toolbar">
                <div class="btn-group">
                    <a href="{{ path('tracklist_new')}}"><button class="btn btn-success">Agregar <i class="icon-plus icon-white"></i></button></a>
                </div>                                                                                                            


            </div>

        </div>
    </div>
    {% set entitiesCount  = entities |length %} 
   
    
    <div class="row">
        {% if entitiesCount > 0 %}
            <div class="col-lg-12 col-xs-12">                

                <div class="box-body box-content">

                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr  style="background-color: grey;">
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Descripcion</th>
                                <th>Reproducciones</th>
                                <th>Tracks</th>
                                <th>Ultima Reproduccion</th>                                
                                <th>Duracion</th>
                                <th>Tipo</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>


                            {% for entity in entities %}
                                <tr>
                                    <td><a href="{{ path('tracklist_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                                    <td>{{ entity.nombre | capitalize }}</td>
                                    <td>{{ entity.descripcion }}</td>                                    
                                    <td>{{ entity.cantReproducciones }} <i class="fa fa-star"></i></td>
                                    <td>{{ entity.tracks | length }}</td>
                                    <td>{% if entity.fechaLastPLay %}{{ entity.fechaLastPLay|date('Y-m-d') }}{% endif %}</td>                                    
                                    <td>{{ entity.duracion | date('H:i:s') }}</td>
                                    <td>{{ entity.tipo }}</td>
                                    <td>
                                        <ul class="list-unstyled">                                        
                                            <li>
                                                <a href="{{ path('tracklist_show', { 'id': entity.id }) }}"><i class="fa fa-eye"></i></a>
                                            </li>
                                            <li>
                                                <a href="{{ path('tracklist_edit', { 'id': entity.id }) }}"><i class="fa fa-edit"></i></a>
                                            </li>
                                            <li><i class="fa fa-play"></i></li>
                                            <li><i class="fa fa-file-movie-o"></i></i>
                                            <li><i class="fa fa-flash"></i></i>
                                        </ul>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>    



            {% else %}
                <div class="alert alert-info redondeame margin-top-20">
                    <a class="close" href="#" data-dismiss="alert">×</a>

                    <p>Sin Resultados</p>
                </div>
            {% endif %}         
        </div>

    </div>

{% endblock %}   


