
{% if playlist.tracks | length > 0 %}

<div class="tracksByPlaylist">	
	<ol type="1" class="tracks">
		<li class="list-group-item playlist-info">
		  <h4>
		    <i class="fa fa-list">
				{{ playlist.info.nombre | upper | slice(0,5) }}
				<input type="hidden" name="playlist" value="{{ playlist.info.id }}">
		    </i>
		    
		    <i class="pull-right"><strong>{{ playlist.info.duration }} </strong></i>
		  </h4> 
		
		</li>
		{% for track in playlist.tracks %}				
            <li class="list-group-item track" value="{{ track.position }}"> 			                         
            	 <input type="hidden" value="{{ track.path }}" id="path" name="path">	
            	 <input type="hidden" value="{{ track.position }}" id="position" name="position"> 		               
            	 <input type="hidden" value="{{ track.nombre_archivo }}" id="nombre_archivo" name="nombre_archivo">
      			{{ track.titulo }}	
	      		<button class="btn btn-default trackItem">
					<i class="fa fa-play-circle-o"></i>
				</button>
			</li>
			
		{% endfor %}
		<li class="list-group-item playlist-info">
			<button class="btn btn-default playAll">
				<i class="fa fa-play-circle-o" title="Reproducir Todos"></i>
			</button>
			<button class="btn btn-default">
				<i class="fa fa-random" title="Aleatorio"></i>				
			</button>

			<button class="btn btn-default next-track">
				<i title="Siguiente" class="fa fa-fast-forward"></i>				
			</button>

			<button class="btn btn-default">
				<i class="fa fa-save usb" title="Transferir a USB"></i>	
			</button>
			<button class="btn btn-default">
				<i class="fa fa-download" title="Descargar"></i>	
			</button>
		</li>
	</ol>

	
</div>



<div class='playlistNow'>
	<h2>Nueva Playlist</h2>
	<form class="form-inline" id="playlist" method="get">
		<ul class='list-group' style='background-color:red;'>	
						
		</ul>
		<div class="form-group">
			<input type='text' name='listnew' id='listnew' placeholder='Nombre'>
			<button type="button" name="save_playlist" id="save_playlist"><i class="glyphicon glyphicon-floppy-disk"></i></button>
		</div>
	</form>
</div>


{% else %}
	<div class="alert alert-info alert-dismissable">
        <i class="fa fa-info"></i>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <b>Alert!</b> No hay resultados
    </div>
{% endif %}



{% spaceless %}
    
<script type="text/javascript" src="{{ asset('bundles/app/js/playlists.js')}}">
</script>    

<script type="text/javascript">
        
	$( function () {
		$('.player').show();
		$('.playlistNow').hide();
		//$('input[type="checkbox"]').hide();
    	$('.list-group-item').each(function () {
	        // store data so the calendar knows to render an event upon drop
	        $(this).data('event', {
	            
	            title: $.trim($(this).text()), // use the element's text as the event title
	            stick: true // maintain when user navigates (see docs on the renderEvent method)
	        });


	        $(this).draggable({
	            zIndex: 999,
	            revert: true, // will cause the event to go back to its
	            revertDuration: 0  //  original position after the drag	            
	        });

	        $(this).data("soltado", false);
	        	      

    	});
	  
	});

	
			
    </script> 
         

{% endspaceless %}






