{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent()}}            
    <link href="{{asset('bundles/app/js/plugins/tokenize-2.3.2/jquery.tokenize.css')}}" rel="stylesheet" type="text/css" />
{% endblock stylesheets %} 

{% block content -%}
    <div class="row">
        <form class="form-horizontal form-column" id="tracklist-form" action="{{ path('tracklist_create')}}" method="post" {{ form_enctype(form) }}>    

            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-play-circle"></span>
                        Informacion
                        <span class="glyphicon glyphicon-facetime-video"></span>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">                            
                                {{ form_row(form.nombre) }}                                                                  
                                {{ form_row(form.descripcion) }}                                                                                                     
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-lg-12">     
                            {% spaceless %}

        {{ parent() }}
        <script src='{{asset('bundles/app/js/plugins/jquery-browser/jquery.browser.min.js')}}' type="text/javascript"></script>            
        <script src='{{asset('bundles/app/js/plugins/chosen/chosen.jquery.js')}}' type="text/javascript"></script>

        <script src='{{asset('bundles/app/js/plugins/chosen/ImageSelect.jquery.js')}}' type="text/javascript"></script>

        <script type="text/javascript">

        $("select").chosen({
                    width:"100%",
                    html_template: '<img style="border:3px solid black;padding:0px;margin-right:4px" src="bundles/portada/no_image_available.jpg">'
                }); 
        

        </script>

    {% endspaceless %}                                                     
                                {{ form_rest(form) }}                                                                                                     
                            </div>

                        </div>

                    </div>

                </div>
            </div>

            <div class="row">        
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary">Guardar</button>                                                
                    <a href="{{ asset('ambiente') }}" class="btn btn-default">Volver</a>   
                </div>
            </div>                                

        </form>
    </div>

{% endblock %}



    



