{% extends 'AppBundle:Home:layout.html.twig' %}

{% block sidebar %}                        
        
    {% if app.user.playlists is defined %}    
        {% include 'AppBundle:Home:_panels.html.twig' 
            with {'userPlaylists': app.user.playlists } 
        %}
    {% endif %}
                                                                                                    
{% endblock sidebar %}

{% block main -%}

    <div class="row">
        <div class="col-md-12">
        	<h2>{{ playlist.nombre }}</h2>
            
            <form class="form-inline form-filter">            

                <div class="form-group">
                    <label class="sr-only control-label" for="criteria_name">Titulo</label>
                    {{ form_widget(form.nombre) }}
                </div>               
            </form>   
		</div>
	</div>	

	<div class="row">
		<div class="col-md-12">			
			<ol>
                	{% for track in tracks %}                	
                		<li _class="list-group-item" value="{{ track.position }}">
                            <h4> {{ track.position }} {{ track.titulo }} </h4> 
                            <img src="{{ asset('track') ~'/'~track.titulo~'.jpg' }}" width="50" height="50" class="img-thumbnail" />                           
                            <input type="text" name="position" value="{{ track.position }}">
                        </li>
                	{% endfor %}
            </ol>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
		</div>
	</div>

{% spaceless %}    
    <script type="text/javascript">
    $( function () {
       $("li").draggable({
            start: handleDragStart,
            cursor: 'move',
            revert: "invalid",
            drop: function( event, ui ) {
              if (!ui.draggable.data("soltado")){
                 ui.draggable.data("soltado", true);
                 var elem = $(this);
                 elem.data("numsoltar", elem.data("numsoltar") + 1)
                 elem.html("Llevo " + elem.data("numsoltar") + " elementos soltados");
              }
            }, 
            out: function( event, ui ) {
              if (ui.draggable.data("soltado")){
                 ui.draggable.data("soltado", false);
                 var elem = $(this);
                 elem.data("numsoltar", elem.data("numsoltar") - 1);
                 elem.html("Llevo " + elem.data("numsoltar") + " elementos soltados");
              }
           } 

        });

        $("li").droppable({
            drop: handleDropEvent,
            tolerance: "touch",              
        });


      
    });

    function handleDragStart (event, ui) {        
        /*var positionOldTop = ui.position.offset.top;
        var positionOldLeft = ui.position.offset.left;
        console.log(positionOldTop);
        console.log(positionOldLeft);*/
        console.log(ui.offset.top);
        console.log(ui.offset.left);
    }       
    function handleDropEvent (event, ui) {
        $(this).droppable('disable');
        ui.draggable.position({of: $(this), my: 'left top', at: 'left top'});
        ui.draggable.draggable('option', 'revert', "invalid");
    }           
    </script>          
{% endspaceless %}


{% endblock main %}






