{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Tracklist</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Cantreproducciones</th>
                <td>{{ entity.cantReproducciones }}</td>
            </tr>
            <tr>
                <th>Canttracks</th>
                <td>{{ entity.cantTracks }}</td>
            </tr>
            <tr>
                <th>Fechalastplay</th>
                <td>{{ entity.fechaLastPLay|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Track</th>
                <td>{{ entity.track }}</td>
            </tr>
            <tr>
                <th>Duracion</th>
                <td>{{ entity.duracion }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ entity.tipo }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('tracklist') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('tracklist_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
