{% extends '::base.html.twig' %}


{% block title %}
Fuente
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Serif|Play' rel='stylesheet' type='text/css'>
{% endblock stylesheets%}    

{% block content -%}
    {% if modo_edicion %}
        {% set title  = 'Editar Fuente' %}
        {% set action = path('fuente_update', { 'id': entity.id }) %}
        {% set form_action_value = 'Guardar Cambios' %}
    {% else %}
        {% set title = 'Nueva Fuente' %}
        {% set action = path('fuente_create') %}
        {% set form_action_value = 'Guardar Fuente' %}
    {% endif %}
    
    
    <form class="form-horizontal form-column" id="fuente-form" action="{{ action }}" method="post" {{ form_enctype(form) }}>                  
        <div class="row">

            <div class="col-lg-12">
                
                {{ form_errors(form)}}

                <div class="col-lg-4"> 
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-list"></span>
                            Detalles
                        </div>
                        <div class="panel-body">                                                                               
                            <div class="col-lg-6"> 
                                {{ form_row(form.nombre)}}
                                {{ form_row(form.lugarGrabacion)}}
                                {{ form_row(form.fechaRecorded)}}
                                {{ form_row(form.fechaPublished)}}
                                {{ form_row(form.soporte)}}
                                

                                <label for="{{ form.file.vars.id}}">{{ form.file.vars.label }}</label>
                                {{ form_widget(form.file)}}
                                <img id="preview" 
                                     {% if entity.portada is not null %} 
                                         src="{{ asset('portada') ~'/'~ entity.portada }}"
                                     {% endif %}
                                     width="350" height="350" />                        
                                <input type="hidden" id="x" name="x" />
                                <input type="hidden" id="y" name="y" />            
                                <input type="hidden" id="w" name="w" />
                                <input type="hidden" id="h" name="h" />  
                                <div class="form-group foto" id="foto">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-list"></span>
                            Tracks
                        </div>
                        <div class="panel-body">                                                                               

                            {% set prototipo_tracks %}
                                <tr>
                                    <td>  {{ form_widget(form.tracks.vars.prototype.titulo) }} </td>
                                    <td>  {{ form_widget(form.tracks.vars.prototype.nombreArchivo) }} </td>
                                    <td>  {{ form_widget(form.tracks.vars.prototype.path) }} </td>
                                </tr>
                            {% endset %}    
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>{{ form.tracks.vars.prototype.titulo.vars.label }}</th>                                
                                        <th>{{ form.tracks.vars.prototype.nombreArchivo.vars.label }}</th>                                
                                        <th>{{ form.tracks.vars.prototype.path.vars.label }}</th>                                
                                    </tr>
                                </thead>
                                <tbody id="tracks-fields-list" data-prototype="{{ prototipo_tracks | e }}">                           


                                    {% for item in form.tracks.children %}
                                        <tr>
                                            <td> {{ form_widget(item.titulo)}}</td>
                                            <td> {{ form_widget(item.nombreArchivo)}}</td>
                                            <td> {{ form_widget(item.path)}} </td>

                                        </tr>

                                    {% endfor %}

                                </tbody>

                                </tbody>

                                <tfooter>
                                    <tr>
                                        <td colspan="7" class="tracks-pie"><a href="#" id="add-another-tracks" data-prototype="{{ prototipo_tracks | e }}" class="btn btn-mini btn-primary" ><i class="fa fa-plus"></i></a></td>
                                    </tr>
                                </tfooter>
                            </table>

                            
                            {{ form_row(form._token) }}

                        </div>
                    </div>
                </div> 
            </div>

            <button type="submit" class="btn btn-primary">{{ form_action_value }}</button>
            <a href="{{ path('track')}}" class="btn btn-default">Volver </a>

    </form>
{% endblock %}

{% block javascripts %}
    {% spaceless %}

        {{ parent() }}

        <script type="text/javascript">
                var especialidadCount = '{{ form.tracks | length }}';
                jQuery(document).ready(function () {
                    jQuery('#add-another-tracks').click(function () {
                        var especialidadProto = jQuery('#add-another-tracks');
                        var newWidget = especialidadProto.attr('data-prototype');

                        newWidget = newWidget.replace(/__name__/g, especialidadCount);
                        especialidadCount++;

                        jQuery('#tracks-fields-list').append(newWidget);

                        return false;
                    });

                    $.datepicker.regional['es'] = {
                        closeText: 'Cerrar',
                        prevText: '<Ant',
                        nextText: 'Sig>',
                        currentText: 'Hoy',
                        monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                        monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                        dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                        dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
                        dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
                        weekHeader: 'Sm',
                        dateFormat: 'dd/mm/yy',
                        firstDay: 1,
                        isRTL: false,
                        showMonthAfterYear: false,
                        yearSuffix: ''
                    };
                    $.datepicker.setDefaults($.datepicker.regional['es']);
                    $('.date').datepicker({
                        changeYear: true,
                        yearRange: "1985:2020"
                    });
                })

        </script>

    {% endspaceless %}
{% endblock %}