{% extends '::base.html.twig' %}

{% block stylesheets %}
     {{ parent() }}
     
     <style>.functions .demo {
  margin-bottom: 10px;
}

.functions .item {
  background-color: #FEFEFE;
  border-radius: 4px;
  display: inline-block;
  margin-bottom: 5px;
  padding: 5px 10px;
}

.functions .item a {
  border: 1px solid #CCC;
  margin-left: 10px;
  padding: 5px;
  text-decoration: none;
}

.functions .item input {
  display: inline-block;
  margin-left: 2px;
  padding: 5px 6px;
  width: 120px;
}

.functions .item label {
  display: inline-block;
  font-size: 1.1em;
  font-weight: bold;
}

.hint {
  text-align: center;
  width: 160px
}

div.hint {
  font-size: 1.4em;
  height: 46px;
  margin-top: 15px;
  padding: 7px
}



strong {
    font-weight: bold; 
}

em {
    font-style: italic; 
}

table {
    background: #f5f5f5;
    border-collapse: separate;
    box-shadow: inset 0 1px 0 #fff;
    font-size: 12px;
    line-height: 24px;
    margin: 30px auto;
    text-align: left;
    //width: 800px;
}   

th {
    background: url(http://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #444);
    border-left: 1px solid #555;
    border-right: 1px solid #777;
    border-top: 1px solid #555;
    border-bottom: 1px solid #333;
    box-shadow: inset 0 1px 0 #999;
    color: #fff;
  font-weight: bold;
    padding: 10px 15px;
    position: relative;
    text-shadow: 0 1px 0 #000;  
}

th:after {
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
    content: '';
    display: block;
    height: 25%;
    left: 0;
    margin: 1px 0 0 0;
    position: absolute;
    top: 25%;
    width: 100%;
}

th:first-child {
    border-left: 1px solid #777;    
    box-shadow: inset 1px 1px 0 #999;
}

th:last-child {
    box-shadow: inset -1px 1px 0 #999;
}

td {
    border-right: 1px solid #fff;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 15px;
    position: relative;
    transition: all 300ms;
}

td:first-child {
    box-shadow: inset 1px 0 0 #fff;
}   

td:last-child {
    border-right: 1px solid #e8e8e8;
    box-shadow: inset -1px 0 0 #fff;
}   

tr {
    background: url(http://jackrugile.com/images/misc/noise-diagonal.png);  
}

tr:nth-child(odd) td {
    background: #f1f1f1 url(http://jackrugile.com/images/misc/noise-diagonal.png);  
}

tr:last-of-type td {
    box-shadow: inset 0 -1px 0 #fff; 
}

tr:last-of-type td:first-child {
    box-shadow: inset 1px -1px 0 #fff;
}   

tr:last-of-type td:last-child {
    box-shadow: inset -1px -1px 0 #fff;
}   

/*tbody:hover td {
    color: transparent;
    text-shadow: 0 0 3px #aaa;
}

tbody:hover tr:hover td {
    color: #444;
    text-shadow: 0 1px 0 #fff;
}*/
</style>
     
 {% endblock %}


{% block content -%}

    <div class="actions-menu">
        <a href="{{ path('fuente_new') }}" class="btn btn-primary">
                <i class="glyphicon glyphicon-plus-sign"></i><span>Agregar Fuente</span>
        </a>    
    </div>

    <div class="col-md-2">     
        <h2><i class="glyphicon glyphicon-list"></i>Fuente</h2>        
    </div>    

    <table cellspacing="0" width="100%" id="fuentes">  
        <thead>
            <tr>                
                <th>Titulo</th>                
                <th>Tracks</th>   
                <th>Lugar Grabacion</th>
                <th>Grabado</th>
                <th>Publicado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>                
                <td>
                    <img id="preview" 
                    {% if entity.portada is not null %} 
                        src="{{ asset('portada') ~'/'~ entity.portada }}"
                    {% else %}
                        src="{{ asset('portada/no_image_available.jpg')}}"
                    {% endif %}
                        width="150" height="150" title="{{ entity.nombre }}"/> 
                    
                </td>
                <td>
                    <ol>
                        {% for track in entity.tracks %}
                            <li> {{ track.titulo }}</li>
                        {% endfor %}    

                    </ol>    
                </td>
                
                <td>{{ entity.lugarGrabacion }}</td>
                <td>{% if entity.fechaRecorded %}{{ entity.fechaRecorded|date('Y-m-d') }}{% endif %}</td>
                <td>{% if entity.fechaPublished %}{{ entity.fechaPublished|date('Y-m-d') }}{% endif %}</td>
                <td>
                
                    
                        <a href="{{ path('fuente_show', { 'id': entity.id }) }}" class="btn btn-warning">
                        <i class="glyphicon glyphicon-eye-open"></i>
                        </a>
                    
                    
                        <a href="{{ path('fuente_edit', { 'id': entity.id }) }}" class="btn btn-warning" >
                        <i class="glyphicon glyphicon-edit"></i>   
                        </a>
                    
                
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        
    {% endblock %}
