{% extends '::base.html.twig' %}


{% block content -%}
    <div class="row">
        <form class="form-horizontal form-column" id="fuente-form" action="{{ path('fuente_create')}}" method="post" {{ form_enctype(form) }}>                  
            <div class="col-lg-12">


                <div class="col-lg-6"> 
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-list"></span>
                            Detalles
                        </div>
                        <div class="panel-body">                                                                               
                            <div class="col-lg-6"> 
                                {{ form_errors(form)}}
                                {{ form_row(form.nombre)}}
                                {{ form_row(form.lugarGrabacion)}}
                                {{ form_row(form.fechaRecorded)}}
                                {{ form_row(form.fechaPublished)}}
                                <label for="{{ form.file.vars.id}}">{{ form.file.vars.label }}</label>
                                {{ form_widget(form.file)}}
                                <img id="preview" 
                                     {% if entity.portada is not null %} 
                                         src="{{ asset('portada') ~'/'~ entity.portada }}"
                                     {% endif %}
                                     width="350" height="350" />                        
                                <input type="hidden" id="x" name="x" />
                                <input type="hidden" id="y" name="y" />            
                                <input type="hidden" id="w" name="w" />
                                <input type="hidden" id="h" name="h" />  
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-lg-6">    
                    {% set prototipo_tracks %}
                        <tr>

                            <td>  {{ form_widget(form.tracks.vars.prototype.titulo) }} </td>
                            <td>  {{ form_widget(form.tracks.vars.prototype.nombreArchivo) }} </td>
                            <td>  {{ form_widget(form.tracks.vars.prototype.path) }} </td>
                        </tr>
                    {% endset %}    
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>

                                <th>{{ form.tracks.vars.prototype.titulo.vars.label }}</th>                                
                                <th>{{ form.tracks.vars.prototype.nombreArchivo.vars.label }}</th>                                
                                <th>{{ form.tracks.vars.prototype.path.vars.label }}</th>                                
                            </tr>
                        </thead>
                        <tbody id="tracks-fields-list" data-prototype="{{ prototipo_tracks | e }}">                           

                            {% for item in form.tracks.children %}
                                <tr>
                                    <td> {{ form_widget(item.titulo)}}</td>
                                    <td> {{ form_widget(item.nombreArchivo)}}</td>
                                    <td> {{ form_widget(item.path)}} </td>

                                </tr>

                            {% endfor %}

                        </tbody>

                        <tfooter>
                            <tr>
                                <td colspan="7" class="tracks-pie"><a href="#" id="add-another-tracks" data-prototype="{{ prototipo_tracks | e }}" class="btn btn-mini" ><i class="icon-plus"></i>Agregar</a></td>
                            </tr>
                        </tfooter>
                    </table>

                    {{ form_rest(form) }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a href="{{ path('fuente')}}" class="btn btn-default">Volver </a>
        </form> 
    </div>
{% endblock %}

{% block javascripts %}
    {% spaceless %}

        {{ parent() }}

        <script type="text/javascript">
            var especialidadCount = '{{ form.tracks | length }}';
            jQuery(document).ready(function () {
                jQuery('#add-another-tracks').click(function () {
                    var especialidadProto = jQuery('#add-another-tracks');
                    var newWidget = especialidadProto.attr('data-prototype');

                    newWidget = newWidget.replace(/__name__/g, especialidadCount);
                    especialidadCount++;

                    jQuery('#tracks-fields-list').append(newWidget);

                    return false;
                });

                $.datepicker.regional['es'] = {
                    closeText: 'Cerrar',
                    prevText: '<Ant',
                    nextText: 'Sig>',
                    currentText: 'Hoy',
                    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                    monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                    dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                    dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
                    dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
                    weekHeader: 'Sm',
                    dateFormat: 'dd/mm/yy',
                    firstDay: 1,
                    isRTL: false,
                    showMonthAfterYear: false,
                    yearSuffix: ''
                };
                $.datepicker.setDefaults($.datepicker.regional['es']);
                $('.date').datepicker({changeYear: true});

                $("#{{ form.nombre.vars.id }}").bind('keyup', function (e) {
                    if (e.which >= 97 && e.which <= 122) {
                        var newKey = e.which - 32;
                        // I have tried setting those
                        e.keyCode = newKey;
                        e.charCode = newKey;
                    }

                    $("#{{ form.nombre.vars.id }}").val(($("#{{ form.nombre.vars.id }}").val()).toUpperCase());
                });
            })

        </script>

    {% endspaceless %}
{% endblock %}
