{% extends '::base.html.twig' %}

{% block content -%}
    <h1>Fuente</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Portada</th>
                <td>{{ entity.portada }}</td>
            </tr>
            <tr>
                <th>Lugargrabacion</th>
                <td>{{ entity.lugarGrabacion }}</td>
            </tr>
            <tr>
                <th>Fecharecorded</th>
                <td>{{ entity.fechaRecorded|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fechapublished</th>
                <td>{{ entity.fechaPublished|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('fuente') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('fuente_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
