<!--FAVORITOS-->
        {% if tracklist is defined %}

        <div class="tracklist_panel">           
            <div class="panel panel-default">           

                {% if tracklist.tracks | length > 0 %}            

                <div class="panel-heading">
                    <h3 class="panel-title">                         
                        {{ tracklist.nombre }}                        
                    </h3>
                </div>
                <div class="panel-body fuenteList">
                    <ul class="list-group fuente">
                        {% for track in tracklist.tracks %}                      
                        <li class="list-group-item">    
                                
                                <input type="hidden" value="{{ track.id }}" id="track">
                                <input type="hidden" value="{{ track.path }}" name="path">
                                <input type="hidden" value="{{ track.genero }}" name="genero">
                                <input type="hidden" value="{{ track.nombreArchivo }}" name="archivo">
                                </i> {{ track.titulo | capitalize }}
                                <i class="fa fa-play-circle-o track"></i>                              
                            
                        </li>
                            
                        {% endfor %}    

                    </ul>
                    
                </div>

                {% else %}       
                <div class="alert alert-info alert-dismissable">
                    <i class="fa fa-info"></i>
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <b>Alert!</b> No hay tracks
                {% endif%}    
            </div>
        </div>
        {% endif%} 



