<div class="tracksByFuente">    
        <h2>{{ tracklist.nombre }} - <strong>00:01:40:00 </strong></h2>

        <ul class="list-group" style="margin: 10px 0;   cursor: pointer;">

                        {% for tema in tracklist.tracks %}
                            <li class="list-group-item" style="font-family: 'Ubuntu', sans-serif;color:#819FF7;"> 
                                <input type="hidden" value="{{ tema.path }}" id="tema{{ tema.id }}" name="tema{{ tema.id }}">
                                <input type="hidden" value="{{ tema.nombreArchivo }}" id="tema{{ tema.id }}" name="archivo">

                                    {{ tema.titulo }} {{ tema.duracion | date('h:i:s')}}                                                             
                                    <i class="fa fa-play-circle-o track"></i> 
                                                                   
                            </li>   
                        {% endfor %}
                        <li class="list-group-item">
                            <i class="fa fa-play playLastList"></i> 
                            <i class="fa fa-list-ol"></i><i class="fa fa-plus newList"></i>
                                                        
                            <button class="usb fa fa-download pull-right" value="{{ tracklist.id }}">USB</button>
                        </li>
            </div>            

</div>            


<script>
    $(document).ready(function () {
        htmlEmbebed  = "<embed type='application/x-vlc-plugin' name='videotest'  pluginspage='http://www.videolan.org' version='VideoLAN.VLCPlugin.' id='vlc' class='playerEmbeded' toolbar='true' windowless='true' bgcolor='blue'/>"                
                  
        $('.player').html(htmlEmbebed); 

        var stri = "{{ tracklist.nombre }}";
        blockeo = false;
        var vlc =  document.getElementById('vlc');
        vlc.playlist.stop();
        vlc.playlist.items.clear();    
    {% for track in tracklist.tracks%}    
        var filename = "{{ track.path }}"+"/"+"{{ track.nombreArchivo }}";
        //alert(filename);
        var file = "file:///"+filename;

        vlc.playlist.add(file);
    {% endfor %}          

        vlc.playlist.play();
        $('.page-header h1').html(stri);   
        


        $('.track').click(function () {            
            vlc.playlist.stop();
            vlc.playlist.items.clear();            
            track = $(this).parent().find('input').val();
            console.log($(this).parent());        
            
            vlc.playlist.add("file:///"+track);
            vlc.playlist.play();

        });

        $('.usb').click(function () {
            id = $(this).attr("value");            
            copiarUsb(id);
        });




    });

    function copiarUsb(playlistID) {
        $.ajax({
            url: '{{ path('ajax_copy_tracklist_usb')}}',
            dataType: 'json',
            method: 'POST',
            async: false,
            data: {
                playlistID: playlistID
            },
            success: function (response) {
                alert(response.message);
                //getDataByTrack();
            }
        });

    }
</script>     
